<div class="chart">
  <!-- <h3 class="title">Sustainability Measures</h3> -->
  <div class="list">
    <dx-bar-gauge
      id="gauge1"
      title="Sustainability Measures"
      [startValue]="0"
      [endValue]="100"
      [values]="dataValues"
      [palette]="customPalette"
      paletteExtensionMode="blend"
      [size]="{ width: 500 }"
    >
      <dxo-label [indent]="10" [customizeText]="customizeText"
        ><dxo-format type="fixedPoint" [precision]="1"></dxo-format>
      </dxo-label>
      <dxo-legend
        [visible]="true"
        verticalAlignment="bottom"
        horizontalAlignment="center"
        itemTextPosition="right"
        [customizeText]="customizeText1"
      ></dxo-legend>
    </dx-bar-gauge>
  </div>
  <p>{{ text }}</p>
</div>
