<div class="product-properties">
  <app-hero-section
    title="Product Properties and Specification Sheets"
    desc=""
    [breadcrumpData]="breadcrumpData"
  ></app-hero-section>
  <div class="product-properties-filters">
    <div class="filters">
      <app-select-dropdown
      [dropdownTitle]="' Product'"
      [dropdownData]="dropdownProductItems"
      (itemEvent)="handleProductChange($event)"
    ></app-select-dropdown>
    <app-select-dropdown
    [dropdownTitle]="'Company'"
    [dropdownData]="dropdownCompanyItems"
    (itemEvent)="handleCompanyChange($event)"
  ></app-select-dropdown>
    </div>
  </div>
  <div class="product-properties-body">
    <dx-data-grid [dataSource]="productPropertiesFitred" [columns]="columns">
      <dxo-paging [pageSize]="10"></dxo-paging>
    </dx-data-grid>
  </div>
</div>

