<div class="bio-basestocks">
  <app-hero-section
    subtitle="Regulations & Industry Standards"
    title="Bio-Basestocks"
    desc=""
    [breadcrumpData]="breadcrumpData"
  ></app-hero-section>
  <div class="bio-basestocks-filters">
    <div class="filters">
      <div
        class="custom-dropdown date-dropdown"
        outclick
        (outclick)="onOutclickDate()"
        (click)="toggleDateDropdown()"
      >
        <div class="dropdown-header">
          <span>{{
            selectedRegion !== "" ? selectedRegion : "Select Region"
          }}</span>
          <img
            class="dropdown-icon"
            [class.rotate]="isRegionOpen"
            [class.defalut]="!isRegionOpen"
            src="../../../assets/images/small-arrow.svg"
            alt="arrow"
          />
        </div>
        <div class="dropdown-list" *ngIf="isRegionOpen">
          <div
            class="dropdown-item"
            *ngFor="let option of regionsList"
            (click)="toggleDateOption(option)"
          >
            {{ option }}
          </div>
        </div>
      </div>

      <div
        class="custom-dropdown date-dropdown"
        outclick
        (outclick)="onOutclickCountry()"
        (click)="toggleCountryDropdown()"
      >
        <div class="dropdown-header">
          <span>{{
            selectedCountry !== "" ? selectedCountry : "Select Country"
          }}</span>
          <img
            class="dropdown-icon"
            [class.rotate]="isCountryOpen"
            [class.defalut]="!isCountryOpen"
            src="../../../assets/images/small-arrow.svg"
            alt="arrow"
          />
        </div>
        <div class="dropdown-list" *ngIf="isCountryOpen">
          <div
            class="dropdown-item"
            *ngFor="let option of contriesList | selectCountry : selectedRegion"
            (click)="toggleCountryOption(option.name)"
          >
            {{ option.name }}
          </div>
        </div>
      </div>

    </div>
    <div class="filters-actions">
      <app-button
        [btnText]="'Compare across countries'"
        [type]="'icon secondary'"
        [icon]="false"
        [iconName]="''"
        (click)="route.navigate(['/bio-compare'])"
      ></app-button>
       <app-button
          [btnText]="'Glossary'"
          [type]="'icon secondary'"
          [icon]="false"
          [iconName]="''"
          (click)="openModal()"
        ></app-button>
    </div>
  </div>
  <div class="bio-basestocks-body">
    <div class="bio-basestocks-body-tabs-content">

      <app-wall-tabs [wallType]="'countries'" [wallData]='curent_data_weele'></app-wall-tabs>
    </div>
    <h3 class="timeline-title">
      TIMELINE- Bio-lubricants Policy Changes in {{ curent_data.name }}
    </h3>
    <div class="bio-basestocks-body-timeline">
      <div class="middle-line"></div>
      <div class="timeline-card" *ngFor="let item of curent_data.timeline">
        <div class="card-content">
          <h4 class="year">
            <svg
              width="36"
              height="31"
              viewBox="0 0 36 31"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.33325 16.0001H4.66659M31.3333 16.0001H34.6666M2.99992 29.3501L3.01659 29.3318M7.99992 22.6835L8.01659 22.6651M12.9999 29.3501L13.0166 29.3318M22.9999 29.3501L23.0166 29.3318M27.9999 22.6835L28.0166 22.6651M32.9999 29.3501L33.0166 29.3318M18.6599 1.66012L23.8333 6.83345C24.9871 7.9872 25.7729 9.45721 26.0913 11.0576C26.4097 12.6579 26.2464 14.3168 25.622 15.8243C24.9976 17.3319 23.9402 18.6204 22.5835 19.5269C21.2267 20.4335 19.6316 20.9174 17.9999 20.9174C16.3682 20.9174 14.7731 20.4335 13.4164 19.5269C12.0597 18.6204 11.0022 17.3319 10.3778 15.8243C9.75343 14.3168 9.5901 12.6579 9.9085 11.0576C10.2269 9.45721 11.0127 7.9872 12.1666 6.83345L17.3399 1.66012C17.4266 1.57344 17.5295 1.50468 17.6427 1.45777C17.756 1.41086 17.8773 1.38672 17.9999 1.38672C18.1225 1.38672 18.2439 1.41086 18.3571 1.45777C18.4704 1.50468 18.5732 1.57344 18.6599 1.66012Z"
                stroke="white"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            {{ item.year }}
          </h4>
          <p class="desc">{{ item.text }}</p>
        </div>
        <div class="circle-top"></div>
        <div class="circle-bottom"></div>
      </div>
    </div>
  </div>
    <div class="modal-area">
    <app-modal
      [title]="'GLOSSARY'"
      *ngIf="isModalVisible"
      (onClose)="onCloseModal()"
    >
      <div class="modal-content">
        <dx-data-grid
          id="gridContainer"
          [dataSource]="glossaryData"
          [showColumnLines]="false"
          [showRowLines]="false"
          [showBorders]="false"
          [rowAlternationEnabled]="true"
        >
        </dx-data-grid>
      </div>
    </app-modal>
  </div>
</div>
