<div class="synthetic-basestocks-body-chart-view">
  <div class="synthetic-basestocks-body-chart-view-filters">
    <app-button
      [btnText]="'Compare across countries'"
      [type]="'icon secondary'"
      [icon]="false"
      [iconName]="''"
    ></app-button>
  </div>
  <div class="charts">
    <app-chart-by-segment [chartData]="chartData"></app-chart-by-segment>
    <app-chart-growth-rates [chartData]="chartData"></app-chart-growth-rates>
    <app-pie-chart-by-product [chartData]="chartData"></app-pie-chart-by-product>
    <app-pie-chart-split-by-viscosity-grade [chartData]="chartData"></app-pie-chart-split-by-viscosity-grade>
  </div>
</div>
