<div class="synthetic-basestocks-body-chart-view">
  <div class="synthetic-basestocks-body-chart-view-filters">
    <div class="selects">
      <app-select-dropdown
        [dropdownTitle]="'Region'"
        [dropdownData]="regionList"
        (itemEvent)="handleRegionChange($event)"
        [firstItemSelected]="false"
      ></app-select-dropdown>
      <app-select-dropdown
        [dropdownTitle]="'Market Analyzed'"
        [dropdownData]="analyzedList"
        (itemEvent)="handleAnalyzedChange($event)"
        [firstItemSelected]="true"
      ></app-select-dropdown>
      <app-select-dropdown
        *ngIf="selectedTab === 3"
        [dropdownTitle]="'Year'"
        [dropdownData]="yearList"
        (itemEvent)="handleYearChange($event)"
        [firstItemSelected]="true"
      ></app-select-dropdown>
    </div>
    <div class="actions">
      <app-button
        [btnText]="'Proceed'"
        [type]="'icon secondary'"
        [icon]="false"
        [iconName]="''"
        (click)="procesdedCLick()"
      ></app-button>
      <app-button
        [btnText]="'Download Data'"
        [type]="'icon secondary'"
        [icon]="false"
        [iconName]="''"
      ></app-button>
    </div>
  </div>
  <div class="charts">
    <div class="tab first-tab" *ngIf="selectedTab === 1">
      <app-chart-by-segment [chartData]="chartData"></app-chart-by-segment>
      <app-chart-growth-rates [chartData]="chartData"></app-chart-growth-rates>
      <app-pie-chart-by-product
        [chartData]="chartData"
      ></app-pie-chart-by-product>
      <app-pie-chart-split-by-viscosity-grade
        [chartData]="chartData"
      ></app-pie-chart-split-by-viscosity-grade>
      <app-pie-chart-split-by-viscosity-grade-second
        [chartData]="chartData"
      ></app-pie-chart-split-by-viscosity-grade-second>
      <app-pie-chart-split-by-segment
        [chartData]="chartData"
      ></app-pie-chart-split-by-segment>
      <app-pie-chart-by-product-second
        [chartData]="chartData"
      ></app-pie-chart-by-product-second>
    </div>
    <div class="tab second-tab" *ngIf="selectedTab === 2">
      <app-pie-chart-share-of-syntetic-ester
        [chartData]="synteticEsterData"
      ></app-pie-chart-share-of-syntetic-ester>
      <app-pie-chart-ester-by-segment-and-product
        [chartData]="synteticEsterData"
      ></app-pie-chart-ester-by-segment-and-product>
      <app-pie-chart-ester-by-product
        [chartData]="synteticEsterData"
      ></app-pie-chart-ester-by-product>
      <app-pie-chart-ester-by-ester
        [chartData]="synteticEsterData"
      ></app-pie-chart-ester-by-ester>
    </div>
    <div class="tab first-tab" *ngIf="selectedTab === 3">
      <app-pie-chart-share-of-pag
        [chartData]="pagEsterData"
      ></app-pie-chart-share-of-pag>
      <app-pie-chart-pag-by-segment-and-product
        [chartData]="pagEsterData"
      ></app-pie-chart-pag-by-segment-and-product>
      <app-pie-chart-pag-by-product
        [chartData]="pagEsterData"
      ></app-pie-chart-pag-by-product>
    </div>
  </div>
</div>
