$white: #ffffff;
$black: #000000;
$gray: #3f3f3f;
$orange: #df7b2e;
$gray-light: #3f3f3f27;

$roboto: "Roboto", sans-serif;
$main-font: "Montserrat", sans-serif;
// Small tablets and large smartphones (landscape view)
$screen-xs-max: 376px;
$screen-sm-max: 600px;
// Small tablets (portrait view)
$screen-md-max: 768px;
// Tablets and small desktops
$screen-lg-max: 992px;
$screen-lm-max: 1024px;
// Large tablets and desktops
$screen-xl-max: 1230px;
