@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";

.webinars {
  min-height: calc(100vh - 135px);
  padding-top: 132px;
  &-filters {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .filters {
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: center;
      grid-gap: 16px;
      align-items: center;
      > select {
        border: none;
        border-bottom: 1px solid $orange;
        padding: 8px;
        font-size: 14px;
        font-weight: 500;
        max-width: 300px;
        white-space: unset;
        // margin-right: 16px;
        color: $gray;
        option {
          padding: 8px;
          background-color: #eee;
          color: #333;
          border: none;
          border-radius: 5px;
        }
      }
      .search-section {
        display: flex;
        align-items: center;
        min-height: 32px;
        padding: 8px;
        border-bottom: 1px solid $orange;
        .serach-input {
          > input {
            border: none;
            height: 100%;
            color: $gray;
            font-size: 14px;
            font-weight: 500;
            &::placeholder {
              color: #3f3f3f77;
            }
          }
        }
      }
      .filter-actions {
        display: flex;
        .serach-btn {
          border: none;
          background-color: transparent;
          // margin-left: 10px;
          cursor: pointer;
          > svg {
            display: block;
            width: 20px;
            height: 20px;
            path {
              fill: $orange;
            }
          }
        }
      }
    }
    .webinars-subscribe {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      gap: 24px;
    }
    .modal-content {
      padding: 20px 0 0;
      > div {
        display: grid;
        justify-content: center;
        grid-gap: 32px;
        justify-items: center;
        .desc {
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
          color: $gray;
        }
        > input {
          padding: 8px;
          width: 100%;
          max-width: 300px;
          border: none;
          color: $gray;
          border-bottom: 1px solid $orange;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
  .upcoming-webinars {
    display: grid;
    grid-template-columns: 400px 1fr;
  }
  &-body {
    padding: 40px 20px;
    .published-articles {
      padding: 40px 0;
      position: relative;
      .arrow-prev {
        position: absolute;
        left: -20px;
        bottom: 0;
        height: 85%;
        width: 80px;
        background-color: #eeeaea44;
        display: flex;
        // filter: blur(2px);
        justify-content: center;
        align-items: center;
        z-index: 2;
        > img {
          transform: rotate(90deg);
          height: 24px;
        }
        &:hover {
          background-color: #eeeaea91;
        }
      }
      .arrow-next {
        position: absolute;
        right: -20px;
        bottom: 0;
        height: 85%;
        width: 80px;
        background-color: #eeeaea44;
        display: flex;
        // filter: blur(2px);
        justify-content: center;
        align-items: center;
        z-index: 2;
        > img {
          transform: rotate(-90deg);
          height: 24px;
        }
        &:hover {
          background-color: #eeeaea91;
        }
      }
      &-title {
        > h3 {
          font-size: 32px;
          font-weight: 700;
          color: #5e9d9f;
          text-align: center;
          padding: 20px 0;
        }
      }
      &-cards {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 32px;
        .card {
          display: grid;
          width: 586px;
          grid-template-rows: 290px 1fr;
          &-img {
            width: inherit;
            max-height: 290px;
            transition: all 0.2s ease-in;
            cursor: pointer;
            overflow: hidden;
            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            &:hover {
              > img {
                opacity: 0.9;
              }
            }
          }
          &-body {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
            padding: 24px 0;
            // margin-bottom: 20px;
            position: relative;
            &-date {
              color: $gray;
              font-size: 12px;
              line-height: 16px;
              font-weight: 500;
              // text-transform: uppercase;
            }
            &-industry {
              color: $gray;
              font-size: 14px;
              line-height: 21px;
              font-weight: 500;
              // > b {
              //   text-transform: uppercase;
              // }
            }
            &-desc {
              color: $gray;
              font-size: 14px;
              line-height: 21px;
              font-weight: 500;
              letter-spacing: 0.03em;
              // margin-bottom: 20px;
            }
            &-title {
              font-size: 20px;
              font-weight: 600;
              line-height: 30px;
              letter-spacing: 0.05em;
              color: $gray;
              text-align: center;
              max-width: 90%;
              cursor: pointer;
              transition: color 0.3s ease-in;
              &:hover {
                color: $orange;
              }
            }
            &-action {
              // position: absolute;
              // bottom: 0;
              display: flex;
              justify-content: center;
              > button {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                padding: 12px 36px 12px 24px;
                font-size: 14px;
                font-weight: 600;
                background: #f7f7f7;
                clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
                color: $orange;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease-in;

                &:hover {
                  background: $orange;
                  color: $white;
                }
              }
            }
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  &.fixed {
    overflow: hidden;
  }
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 300px;
  &.date-dropdown {
    width: 200px;
  }
}

.dropdown-header {
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  max-width: 300px;
  white-space: unset;
  // margin-right: 16px;
  color: $gray;
  border-bottom: 1px solid $orange;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.dropdown-icon {
  width: 12px;
  position: absolute;
  right: 8px;
  top: 15px;
  &.rotate {
    transform: rotate(180deg);
  }
  // margin-left: 5px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  z-index: 1;
  padding: 8px 0;
}

.dropdown-item {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  max-width: 300px;
  white-space: unset;
  color: $gray;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: $gray-light;
}
