<div class="footer">
  <div class="container">
    <div class="contact-us">
      <app-button
      [btnText]="'Contact Us'"
      [type]="'icon secondary'"
      [icon]="false"
      [iconName]="''"
    ></app-button>
      <p>Contact us long description is this.</p>
    </div>
  </div>
  <hr >
  <div class="container">
    <div class="content">
      <div class="website-logo">
        <a routerLink="/">
          <img
            src="../../../assets/images/website-logo-light.svg"
            alt="website-logo"
          />
        </a>
      </div>
      <div class="navigation">
        <ul>
          <li *ngFor="let item of navigationItems" (onItemClick)="onItemClick($event)">
            {{ item.text }}
          </li>
        </ul>
      </div>
      <div class="socials">
        <div>
          <img src="../../../assets/images/white-twitter.svg"  alt="icon" />
        </div>
        <div>
          <img src="../../../assets/images/white-linked.svg" alt="icon" />
        </div>
        <div>
          <img src="../../../assets/images/white-youtube.svg" alt="icon" />
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>© 2022 Kline & Company | Privacy Policy | Kline Employees</p>
    </div>
  </div>
</div>
