@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/_mixins.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
  border-bottom: 1px solid #3f3f3f27;

  > .content {
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-end;
    // height: 98px;
    padding: 0 20px;

    .main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 11px 0;

      .website-logo {
        display: flex;
        align-items: center;
        // width: 168px;

        img {
          width: 106px;
          height: 100%;
        }
        > span {
          font-size: 20px;
          margin-left: 8px;
          // margin-top: 8px;
          font-weight: 600;
          // max-width: 326px;
          color: #5F789E;
        }
      }

      > span {
        font-size: 26px;
        // margin-left: 8px;
        // margin-top: 8px;
        font-weight: 700;
        // max-width: 326px;
        color: #5F789E;
      }

      .socials {
        display: flex;
        align-items: center;

        > div {
          > a {
            padding: 0 8px;
            color: #3f3f3f;
            font-weight: 600;
            cursor: pointer;
            // height: 32px;
            display: flex;
            align-items: center;
            text-decoration: none;
          }

          margin-left: 16px;

          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5) {
            @include lg {
              display: none;
            }
          }
        }
      }
    }

    .user-icon {
      > img {
        width: 100%;
        height: 100%;
      }
    }

    .navigation {
      display: flex;
      // grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      gap: 16px;
      position: relative;

      .subtitle {
        // width: 238px;

        span {
          font-size: 22px;
          font-weight: 600;
          color: #5F789E;
          // font-size: 20px;
          @include lg {
            font-size: 20px;
          }
          @include md {
            font-size: 18px;
          }
        }
      }

      .toolbar-section {
        display: flex;
        // justify-content: center;
        justify-content: flex-end;

        .search-bar {
          display: flex;
          align-items: center;
          min-height: 32px;
          padding-bottom: 8px;
          border-bottom: 1px solid #008083;
          width: 238px;

          .serach-input {
            width: 100%;
            text-align: left;
            > input {
              border: none;
              height: 100%;
              color: #3f3f3f;

              &::placeholder {
                color: #3f3f3f77;
              }
            }
          }

          .serach-btn {
            width: 20px;
            height: 20px;
          }

          @include lg {
            width: 100%;
          }
        }

        @include lg {
          width: 100%;
          justify-content: center;
        }
      }

      > ul {
        list-style: none;
        display: flex;
        align-items: center;
        // justify-content: flex-end;
        justify-content: center;

        > li {
          padding: 0 20px;
          color: #3f3f3f;
          font-weight: 600;
          cursor: pointer;
          height: 32px;
          display: flex;
          align-items: center;

          &:hover {
            padding-top: 4px;
            border-bottom: 4px solid #df7b2e;
          }
          @include md {
            font-size: 14px;
          }
        }
      }

      @include lg {
        flex-wrap: wrap;
      }

      @include lg {
        justify-content: center;
        display: block;
        text-align: center;
      }
    }
  }

  .header-dropdown {
    border-top: 1px solid #3f3f3f27;
    min-height: 68px;
    padding: 24px;
    position: absolute;
    width: 100vw;
    background: white;
    top: 100%;
    left: -20px;
    border-bottom: 1px solid #3f3f3f27;

    .coverage-dropdown,
    .market-dropdown {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 600px));
      justify-content: center;

      .coverage-info,
      .market-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-right: 0.5px solid #3f3f3f27;

        .title {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 39px;
          text-align: center;
          letter-spacing: 0.055em;
          color: #3f3f3f;
          width: 100%;
          padding: 0 20px;
        }

        .desc {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 27px;
          letter-spacing: 0.09em;
          font-feature-settings: "liga" off, "kern" off;
          color: #3f3f3f;
          padding: 0 20px;
          margin-top: 8px;
        }
      }

      .coverages-item {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;

        &-title {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 39px;
          text-align: center;
          letter-spacing: 0.055em;
          color: #3f3f3f;
          width: 100%;
          padding: 0 20px;

          > span {
            display: block;
            font-weight: 600;
            font-size: 16px;
          }
        }

        &-list {
          position: relative;
          margin-top: 8px;
          width: 100%;
          padding: 0 20px;
          cursor: pointer;

          ul {
            li {
              margin-bottom: 8px;
              color: #3f3f3f;
              list-style: none;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 8px;
              transition: 0.3s;

              a {
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 27px;
                letter-spacing: 0.09em;
                font-feature-settings: "liga" off, "kern" off;
                color: #3f3f3f;
                text-decoration: none;
              }

              > img {
                margin-left: 12px;
                width: 20px;
              }

              &:hover {
                background: #3f3f3f27;
                border-left: 4px solid #df7b2e;
              }
            }
          }

          @include lg {
            padding: 0px;
          }
        }

        &:not(:last-of-type) {
          border-right: 0.5px solid #3f3f3f27;

          @include lg {
            border-right: none;
            border-bottom: 0.5px solid #3f3f3f27;
          }
        }

        &:last-of-type {
          .coverages-item-title {
            padding: 0 64px;
          }
        }
      }

      @include lg {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    }

    .market-dropdown {
      .featured {
        display: grid;
        grid-gap: 8px;
        padding: 0 20px;

        &-title {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 39px;
          text-align: center;
          letter-spacing: 0.055em;
          color: #3f3f3f;
        }

        > div {
          display: flex;
          align-items: center;

          > img {
            width: 200px;
            height: 100px;
            object-fit: cover;
          }

          .desc {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 27px;
            letter-spacing: 0.09em;
            font-feature-settings: "liga" off, "kern" off;
            color: #3f3f3f;
            padding: 0 20px;
          }
        }
      }
    }

    @include lg {
      overflow: auto;
      max-height: calc(100vh - 110px);
    }

    @include lg {
      overflow: auto;
      max-height: calc(100vh - 180px);
    }
  }

  .modal-area {
    .modal-content {
      max-width: 600px;

      .action {
        padding: 8px 0;
        text-align: right;
      }
      .contact-us-form {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
        justify-items: center;
        > input {
          padding: 8px;
          width: 100%;
          // max-width: 300px;
          border: none;
          color: $gray;
          border-bottom: 1px solid $orange;
          font-size: 14px;
          font-weight: 500;
        }
        > p {
          font-size: 18px;
          font-weight: 400;
          color: #3f3f3f;
        }
        > textarea {
          resize: none;
          width: 500px;
          height: 200px;
          padding: 8px 16px;
          border: 1px solid $orange;
          font-size: 16px;
          color: #3f3f3f;
        }
      }
    }
  }

  @include lg {
    border-bottom: none;
  }
}

.dx-toolbar-items-container {
  height: 68px;
}
