@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/_mixins.scss";

.regulations-table {
  &-table {
    ::ng-deep {
      .dx-header-row {
        // background-color: red !important;
        td {
          display: block !important;
          margin: 20px 10px !important;
          border-radius: 4px !important;
          text-align: center !important;
          color: $white;
          text-transform: uppercase;
          font-size: 14px !important;
          font-weight: 600;
          &:nth-of-type(1) {
            background: #5e9d9f;
          }
          &:nth-of-type(2) {
            background: $gray;
          }
          &:nth-of-type(3) {
            background: #d08ad3;
          }
          &:nth-of-type(4) {
            background: #8abe67;
          }
          &:nth-of-type(5) {
            background: #fdbb89;
          }
        }
      }
      .dx-datagrid-headers {
        border-bottom: none !important;
      }
      .dx-data-row {
        td {
          display: block !important;
          margin: 10px !important;
          border-radius: 4px !important;
          &:nth-of-type(1) {
            text-align: center !important;
            font-size: 13px;
            display: flex !important;
            justify-content: center;
            align-items: center;
            // font-weight: 600;
            color: $white;
            // text-transform: uppercase;
            background: #5e9d9fbe !important;
          }
          &:nth-of-type(2) {
            &:hover {
              background: $gray-light !important;
            }
          }
          &:nth-of-type(3) {
            &:hover {
              background: #cf9bd16e;
            }
          }
          &:nth-of-type(4) {
            &:hover {
              background: #a0c28a6e;
            }
          }
          &:nth-of-type(5) {
            &:hover {
              background: #f5c5a16e;
            }
          }
          // }
        }
      }
      .dx-row {
        td {
          border-bottom: none !important;
        }
      }
      .dx-datagrid-rowsview {
        .dx-row {
          border: none !important;
        }
      }
      tr {
        white-space: normal !important;
        display: grid;
        grid-template-columns: repeat(5, 100%);
        width: 100%;
      }
    }
  }
}
