@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/_mixins.scss";

.search-results {
  min-height: calc(100vh - 110px);
  padding-top: 98px;
  &-body {
    padding: 20px;
    &-header {
      display: grid;
      max-width: 1440px;
      margin: 0 auto;
      grid-gap: 20px;
      grid-template-columns: 300px 1fr auto;
      justify-content: center;
      //   justify-items: center;
      align-items: center;
      position: sticky;
      top: 98px;
      background: $white;
      padding: 8px;
      .results-count {
        padding: 0 16px;
        > p {
          font-size: 20px;
          font-weight: 500;
          color: $gray;
        }
      }
      .main-search {
        width: 100%;
        .main-search-filed {
          display: flex;
          border-bottom: 1px solid $teal;
          align-items: center;
          width: 100%;

          > input {
            border: none;
            font-size: 18px;
            color: $gray;
            padding: 8px;
            width: 100%;
          }
        }
        .advanced-search {
          margin-top: 4px;
          cursor: pointer;
          transition: all 0.5s ease-in;

          > p {
            font-size: 14px;
            color: $gray;
            font-weight: 400;
          }
          &:hover {
            p {
              color: $orange;
            }
          }
        }
      }
      &-main-sorting {
        display: flex;
        max-width: 1440px;
        margin: 16px 0;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid $gray-light;
        align-items: center;
        .main-sort {
          padding: 0 16px;
          cursor: pointer;
          > p {
            font-size: 16px;
            font-weight: 400px;
            color: $gray;
          }
          &.active {
            > p {
              color: $orange;
              font-weight: 600;
            }
          }
          &:not(:last-of-type) {
            border-right: 1px solid $gray-light;
          }
        }
        //   grid-template-columns: repeat(3, auto);
      }
    }
    &-advanced-filters {
      max-width: 1440px;
      margin: 16px auto;
      &-title {
        font-size: 20px;
        font-weight: 600;
        color: $gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > div {
          display: flex;
          align-items: center;

          > div {
            > p {
              margin-right: 20px;
              font-size: 18px;
              font-weight: 500px;
              cursor: pointer;
            }
          }
          .alert-switch {
            display: flex;
            align-items: center;
            margin-right: 20px;
            > p {
              margin-right: 5px;
              font-size: 16px;
              font-weight: 500px;
              cursor: pointer;
            }
          }
        }
      }
      &-content {
        .suggested-keywords {
          .keywords {
            display: flex;
            align-items: center;
            margin: 16px 0;
            .subtitle {
              font-size: 18px;
              font-weight: 600;
              color: $gray;
              margin-right: 8px;
            }
            .keyword {
              padding: 8px 16px;
              border: 1px solid #3f3f3f;
              margin-right: 8px;
              border-radius: 4px;
            }
          }
        }
        .esim-inch {
          display: flex;
          max-width: 1000px;
          justify-content: space-between;
          align-items: flex-end;
          .keywords-dropdown {
            .subtitle {
              font-size: 18px;
              font-weight: 600;
              color: $gray;
              margin-right: 8px;
            }
            .dropdown {
              width: 300px;
            }
          }
        }
      }
    }
    &-content {
      display: grid;
      grid-template-columns: 300px 1fr auto;
      grid-gap: 20px;
      max-width: 1440px;
      margin: 32px auto;
      &-filtering {
        // display: grid;
        // grid-gap: 24px;
        padding: 0px 16px;
        width: 100%;
        border-right: 1px solid $gray-light;
        &-main-sorting {
          display: flex;
          max-width: 1440px;
          margin: 16px 0;
          padding: 8px 16px;
          flex-direction: column;
          border-radius: 4px;
          align-items: center;
          .main-sort {
            padding: 8px 16px;
            cursor: pointer;
            border: 1px solid $gray-light;
            margin-bottom: 8px;
            cursor: pointer;
            > p {
              font-size: 16px;
              font-weight: 400px;
              color: $gray;
            }
            &.active {
              > p {
                color: $orange;
                font-weight: 600;
              }
            }
            &:not(:last-of-type) {
              border-right: 1px solid $gray-light;
            }
          }
          //   grid-template-columns: repeat(3, auto);
        }
        &-filter {
          width: 100%;
          display: grid;
          grid-gap: 16px;
          margin-bottom: 24px;
          &-title {
            font-size: 20px;
            font-weight: 600;
            color: $gray;
          }
          &-items {
            width: 100%;
            display: grid;
            grid-gap: 8px;
            > div {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              transition: all 0.5s ease-in;
              cursor: pointer;
              p {
                font-size: 16px;
                font-weight: 500;
                color: $gray;
                &:nth-of-type(1) {
                  font-weight: 500;
                }
              }
              &:hover {
                p {
                  color: $orange;
                }
              }
            }
          }
        }
      }
      &-results {
        display: grid;
        // grid-gap: 20px;
        &-card {
          max-width: 800px;
          border-bottom: 1px solid $gray-light;
          padding: 20px;
          border-left: 4px solid transparent;
          transition: all 0.5s ease-in;
          cursor: pointer;
          &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            .title {
              font-size: 22px;
              font-weight: 700;
              color: $orange;
            }
            .desc {
              font-size: 14px;
              font: 400;
            }
          }
          &-body {
            .desc {
              font-weight: 18px;
              font-weight: 500;
              color: $gray;
            }
          }
          &:hover {
            border-left: 4px solid $orange;
          }
        }
      }
      &-actions {
        > div {
          margin-bottom: 16px;
        }
      }
    }
  }
  .modal-area {
    .modal-content {
      max-width: 900px;
      max-height: 800px;
      overflow-y: auto;
      padding: 20px 0;
      .bookmarks-list {
        .bookmark {
          display: flex;
          justify-content: space-between;
          padding: 16px 8px;
          align-items: center;
          border-bottom: 1px solid #3e3e3e;
          border-left: 4px solid transparent;
          cursor: pointer;
          &:hover {
            border-left: 4px solid #df7b2e;
            background: rgba(63, 63, 63, 0.1529411765);
          }
          h3 {
            font-size: 16px;
            color: #3f3f3f;
          }
          svg {
            width: 32px;
            height: 32px;
            path {
              fill: $orange;
            }
          }
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
