<div
  class="custom-dropdown-c"
  outclick
  (outclick)="isDropdownOpen = false"
  (click)="toggleDropdown()"
>
  <div class="dropdown-header">
    <span>{{
      selectedItem !== "" ? selectedItem : "Select " + dropdownTitle
    }}</span>
    <div class="dropdown-icon">
      <img
        [class.rotate]="isDropdownOpen"
        [class.defalut]="!isDropdownOpen"
        src="../../../assets/images/small-arrow.svg"
        alt="arrow"
      />
    </div>
  </div>
  <div class="dropdown-list" *ngIf="isDropdownOpen">
    <div
      class="dropdown-item"
      *ngFor="let item of dropdownData"
      (click)="toggleOption(item)"
    >
      {{ item.label }}
    </div>
  </div>
</div>
