<div
  class="custom-dropdown"
  outclick
  (outclick)="isDropdownOpen = false"
  (click)="toggleDropdown()"
>
  <div class="dropdown-header">
    <span>{{
      selectedItem !== "" ? selectedItem : "Select " + dropdownTitle
    }}</span>
    <img
      class="dropdown-icon"
      [class.rotate]="isDropdownOpen"
      [class.defalut]="!isDropdownOpen"
      src="../../../assets/images/small-arrow.svg"
      alt="arrow"
    />
  </div>
  <div class="dropdown-list" *ngIf="isDropdownOpen">
    <div
      class="dropdown-item"
      *ngFor="let item of dropdownData"
      (click)="toggleOption(item)"
    >
      {{ item.label }}
    </div>
  </div>
</div>
