@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/_mixins.scss";

.info-tab {
  max-width: 500px;
  padding: 20px;
  margin-top: 24px;
  &-body {
    > h3 {
      font-size: 24px;
      color: #3e3e3e;
    }
    position: relative;
    .search-item {
      display: flex;
      justify-content: space-between;
      padding: 16px 0;
      border-bottom: 1px solid #3e3e3e;
      position: absolute;
      top: -68px;
      width: 100%;
      > svg {
        width: 33px;
      }
      padding-bottom: 0;
      .search-bar {
        display: flex;
        align-items: center;
        min-height: 32px;
        padding-bottom: 8px;
        width: 99%;
        .serach-input {
          width: 100%;
          > input {
            border: none;
            min-height: 26px;
            color: #3f3f3f;
            width: 100%;
            font-size: 18px;
            &::placeholder {
              color: #3f3f3f77;
            }
          }
        }
        .serach-btn {
          width: 20px;
          height: 20px;
        }
      }
    }
    &-content {
      padding: 20px 0;
      display: grid;
      grid-gap: 4px;
      .item {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        border-bottom: 1px solid #3e3e3e;
        > svg {
          width: 33px;
        }
      }
    }
  }
  &.secondary {
    padding: 0 !important;
    .info-tab-body-content {
      background: #3e3e3e;
      color: white !important;
      padding: 20px;
    }
    h3 {
      padding: 20px;
    }
    svg {
      path {
        fill: white !important;
      }
    }
    .serach-input {
      > input {
        background: #3e3e3e !important;
        color: white !important;
        &::placeholder {
          color: white !important;
        }
      }
    }
    .item {
      border-color: white;
    }
  }
}
