@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/_mixins.scss";

.bioplasticsMarketMonitor {
    min-height: calc(100vh - 98px);
    padding-top: 98px;
    .bioplastics-filtration {
        position: relative;
        .filter_section {
            width: 50%;
            // height: 40px;
            background: #df7b2e;
            clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            display: flex;
            align-items: center;
            margin: 0 20px;
            overflow: hidden;
            .filter_item {
                padding: 16px;
                position: relative;
                cursor: pointer;
                // overflow: hidden;
                color: $white;
                // border-left: 1px solid $white;
                // border-radius: 50%;
                &:nth-of-type(2) {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: -3px;
                        height: 54px;
                        width: 54px;
                        border-top-left-radius: 50%;
                        border-bottom-left-radius: 50%;
                        border: 1.5px solid #ffffff;
                        border-right: none;
                    }
                }
                &:nth-of-type(3) {
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: -3px;
                        height: 54px;
                        width: 54px;
                        border-top-left-radius: 50%;
                        border-bottom-left-radius: 50%;
                        border: 1.5px solid #ffffff;
                        border-right: none;
                    }
                }
                > svg {
                    width: 12px;
                    margin-left: 10px;
                }
                &.active {
                    > svg {
                        rotate: 180deg;
                    }
                }
            }
            .search-bar {
                display: flex;
                align-items: center;
                min-height: 40px;
                margin-left: 66px;
                position: relative;
                .serach-input {
                    width: 100%;
                    text-align: left;
                    > input {
                        border: none;
                        height: 100%;
                        color: $white;
                        background-color: transparent;
                        min-height: 32px;
                        font-size: 16px;
                        &::placeholder {
                            color: $white;
                        }
                    }
                }

                .serach-btn {
                    width: 20px;
                    height: 20px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: -33px;
                    top: -8px;
                    height: 54px;
                    width: 54px;
                    border-top-left-radius: 50%;
                    border-bottom-left-radius: 50%;
                    border: 1.5px solid #ffffff;
                    border-right: none;
                }

                @include lg {
                    width: 100%;
                }
            }
        }
        .filtering_dropdown {
            position: absolute;
            left: 0;
            top: 100%;
            width: 50%;
            min-height: 20px;
            background-color: $white;
            margin: 0 20px;
            border: 1px solid $orange;
            border-radius: 10px;
            padding: 16px;
            z-index: 10;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            &-content {
                // display: flex;
                // justify-content: center;
                // align-items: center;
                height: 100%;
                .country_group_tab {
                    display: grid;
                    grid-template-columns: repeat(6, minmax(60px, 100px));
                    margin-bottom: 16px;
                    p {
                        cursor: pointer;
                        padding: 4px;
                        &:hover {
                            color: $orange;
                        }
                    }
                    .active {
                        > p {
                            color: $orange;
                        }
                    }
                }
                &_theme {
                    display: grid;
                    grid-template-columns: repeat(7, auto);
                    // justify-content: center;
                    flex-wrap: wrap;
                    grid-gap: 4px;
                    height: 100%;
                    // align-content: center;
                    overflow-y: auto;
                    max-height: 200px;

                    &_item {
                        padding: 4px;
                        // border: 1px solid $orange;
                        border-radius: 4px;
                        cursor: pointer;
                        > p {
                            font-size: 14px;
                            font-weight: 400;
                            color: $black;
                            font-family: $main-font;
                            &:hover {
                                color: $orange;
                            }
                        }
                    }
                    &::-webkit-scrollbar {
                        height: 4px;
                        width: 4px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $orange;
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: #dedede;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    &-content {
        margin: 40px 20px;

        &-chart {
            margin: 80px auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            grid-gap: 32px;

            .list {
                max-height: 400px;
                .list_header {
                    margin: 16px 0;
                    .title {
                        font-size: 20px;
                        font-family: $main-font;
                        font-weight: 700;
                        color: $dark-blue;
                    }
                    position: relative;
                    .orange_area {
                        width: 80px;
                        height: 10px;
                        background: $orange;
                        display: block;
                    }
                }
                .list_content {
                    overflow-y: auto;
                    max-height: 330px;
                    &_item {
                        padding: 16px;
                        border-bottom: 1px dashed $dark-blue;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        h4 {
                            font-size: 16px;
                            font-weight: 500;
                            color: $dark-blue;
                        }
                        .arrow {
                            rotate: -90deg;
                            margin-left: 20px;
                        }
                    }
                    &::-webkit-scrollbar {
                        height: 4px;
                        width: 4px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $dark-blue;
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: #dedede;
                        border-radius: 10px;
                    }
                }
            }

            &::ng-deep {
                .dxc-labels {
                    g {
                        g {
                            rect {
                                fill: transparent;
                            }
                            text {
                                font-family: $main-font !important;
                                font-weight: 500 !important;
                            }
                        }
                    }
                }
                .dxc-title {
                    text {
                        fill: $dark-blue !important;
                        font-family: $main-font !important;
                        font-weight: 700 !important;
                    }
                }

                .dxc-val-grid {
                    path {
                        stroke-dasharray: 6;
                    }
                }
            }
            .comp {
                &::ng-deep {
                    .dxc-arg-elements {
                        text {
                            fill: #e74e0b !important;
                            font-family: $main-font !important;
                            font-weight: 500 !important;
                        }
                    }
                }
            }
            .theme {
                grid-column: 2/3;
                &::ng-deep {
                    .dxc-arg-elements {
                        text {
                            fill: #0943ff !important;
                            font-family: $main-font !important;
                            font-weight: 500 !important;
                        }
                    }
                }
            }

            // &_main {
            //     width: 100%;
            //     .main_content {
            //         display: flex;
            //         justify-content: space-between;
            //         align-items: flex-end;
            //         flex-wrap: nowrap;
            //         // display: grid;
            //         // justify-items: center;
            //     }
            //     .company_circle {
            //         // width: 40px;
            //         // height: 40px;
            //         background-color: $pmic-blue;
            //         border-radius: 50%;
            //         display: flex;
            //         justify-content: center;
            //         align-items: center;
            //         margin-bottom: 8px;
            //         position: relative;
            //         .tooltip {
            //             position: absolute;
            //             top: -20px;
            //             background-color: $white;
            //             padding: 4px;
            //             border: 1px solid $pmic-blue;
            //             display: none;
            //             border-radius: 4px;
            //         }
            //         &:hover {
            //             .tooltip {
            //                 display: block;
            //             }
            //         }
            //     }
            // }
            // &_footer {
            //     display: flex;
            //     justify-content: space-between;
            //     align-items: flex-end;
            //     flex-wrap: nowrap;
            //     .company_name {
            //         padding: 8px;
            //         margin-top: 16px;
            //     }
            // }
        }

        .published-articles {
            padding: 40px 0;
            position: relative;

            .arrow-prev {
                position: absolute;
                left: -20px;
                bottom: 0;
                height: 85%;
                width: 80px;
                background-color: #eeeaea44;
                display: flex;
                // filter: blur(2px);
                justify-content: center;
                align-items: center;
                z-index: 2;

                > img {
                    transform: rotate(90deg);
                    height: 24px;
                }

                &:hover {
                    background-color: #eeeaea91;
                }
            }

            .arrow-next {
                position: absolute;
                right: -20px;
                bottom: 0;
                height: 85%;
                width: 80px;
                background-color: #eeeaea44;
                display: flex;
                // filter: blur(2px);
                justify-content: center;
                align-items: center;
                z-index: 2;

                > img {
                    transform: rotate(-90deg);
                    height: 24px;
                }

                &:hover {
                    background-color: #eeeaea91;
                }

                @include sm {
                    height: 88%;
                }
            }

            &-title {
                > h3 {
                    font-size: 32px;
                    font-weight: 700;
                    color: $dark-blue;
                    padding: 20px 0;
                    position: relative;
                    .orange_area {
                        width: 80px;
                        height: 10px;
                        background: $orange;
                        display: block;
                    }
                    @include sm {
                        font-size: 26px;
                    }
                }
            }

            &-cards {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                gap: 32px;

                .card {
                    display: grid;
                    width: 360px;
                    grid-template-rows: 180px 1fr;

                    &-img {
                        width: inherit;
                        max-height: 290px;
                        transition: all 0.2s ease-in;
                        cursor: pointer;
                        overflow: hidden;

                        > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        &:hover {
                            > img {
                                opacity: 0.9;
                            }
                        }
                    }

                    &-body {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        justify-content: space-between;
                        align-items: center;
                        padding: 24px 0;
                        // margin-bottom: 20px;
                        position: relative;

                        &-date {
                            color: $gray;
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 500;
                            // text-transform: uppercase;
                        }

                        &-industry {
                            color: $gray;
                            font-size: 14px;
                            line-height: 21px;
                            font-weight: 500;
                            // > b {
                            //   text-transform: uppercase;
                            // }
                        }

                        &-desc {
                            color: $gray;
                            font-size: 14px;
                            line-height: 21px;
                            font-weight: 500;
                            letter-spacing: 0.03em;

                            // margin-bottom: 20px;
                            @include sm {
                                text-align: center;
                            }
                        }

                        &-title {
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0.05em;
                            color: $gray;
                            text-align: center;
                            max-width: 90%;
                            cursor: pointer;
                            transition: color 0.3s ease-in;

                            &:hover {
                                color: $dark-blue;
                            }

                            @include sm {
                                font-size: 16px;
                            }
                        }

                        &-action {
                            // position: absolute;
                            // bottom: 0;
                            display: flex;
                            justify-content: center;

                            > button {
                                border-top-left-radius: 20px;
                                border-bottom-left-radius: 20px;
                                padding: 12px 36px 12px 24px;
                                font-size: 14px;
                                font-weight: 600;
                                background: #f7f7f7;
                                clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
                                color: $pmic-blue;
                                border: none;
                                cursor: pointer;
                                transition: all 0.3s ease-in;

                                &:hover {
                                    background: $pmic-blue;
                                    color: $white;
                                }
                            }
                        }

                        @include sm {
                            padding: 16px 0;
                            gap: 10px;
                        }
                    }

                    @include sm {
                        width: 300px;
                        grid-template-rows: 150px 1fr;
                    }
                }

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            @include sm {
                padding: 0px;
            }
        }

        &-cards {
            display: grid;
            grid-template-columns: repeat(4, minmax(200px, 340px));
            justify-content: center;
            grid-gap: 32px;
            &-item {
                background: $pmic-blue;
                padding: 16px;
                min-height: 400px;
                display: flex;
                align-items: flex-end;
                &-body {
                    background-color: $white;
                    padding: 8px 16px;
                    width: 100%;
                    min-height: 100px;
                    .item-news {
                        font-size: 14px;
                        text-overflow: ellipsis;
                        line-height: 20px;
                        max-height: 60px;
                        font-weight: 600;
                    }
                    .news-details {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 16px;
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
