<div class="blender-database">
  <app-hero-section
    title="Finished Lubricant Blender Database"
    desc="
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
"
  ></app-hero-section>
  <div class="blender-database-filters">
    <div class="filters">
      <app-select-dropdown
        [dropdownTitle]="' Group'"
        [dropdownData]="groupList"
        (itemEvent)="handleGroupChange($event)"
      ></app-select-dropdown>
      <app-select-dropdown
        [dropdownTitle]="'City'"
        [dropdownData]="regionsList"
        (itemEvent)="handleRegionChange($event)"
      ></app-select-dropdown>
      <app-select-dropdown
        [dropdownTitle]="'Name'"
        [dropdownData]="nameList"
        (itemEvent)="handleNameChange($event)"
      ></app-select-dropdown>
    </div>
    <div class="action">
      <app-button
        [btnText]="'Download'"
        [type]="'icon secondary'"
        [icon]="false"
        [iconName]="''"
      ></app-button>
    </div>
  </div>
  <div class="blender-database-body">
    <div class="map-section">
      <dx-map
        #map1
        [height]="510"
        width="100%"
        [controls]="true"
        [zoom]="8"
        provider="google"
        [apiKey]="keys"
        [markerIconSrc]="mapMarkerUrl"
        [markers]="markers"
        [type]="'Hybrid'"
      >
      </dx-map>
    </div>
    <div class="blander-table">
      <dx-data-grid
        [dataSource]="filtredData"
        [columns]="columns"
        [columnWidth]="150"
      >
        <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
        <dxo-paging [pageSize]="6"></dxo-paging>
      </dx-data-grid>
    </div>
  </div>
</div>
