@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/_mixins.scss";

.pao-demand {
  min-height: calc(100vh - 135px);
  padding-top: 132px;
  &-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding: 0 20px;
    margin: 24px auto;
    > div {
      display: flex;
      align-items: center;
    }
  }
  &-body {
    &-filters {
      padding: 40px 20px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1440px;
      margin: 0 auto;
    }
    max-width: 1440px;
    padding: 40px 20px;
    margin: 0 auto;
    &-pivot {
      margin: 32px 0;
    }
  }
  ::ng-deep {
    .dx-pivotgrid-toolbar {
      display: none !important;
    }
    .dx-expand {
      color: $orange !important;
    }
    .dx-area-box {
      background-color: $teal;
      color: $white;
      font-weight: 500;
      .dx-sort {
        color: $white !important;
      }
      .dx-header-filter-empty {
        color: $white !important;
      }
    }
    .dx-scrollable-content {
      td {
        &:hover {
          background-color: #00808378;
        }
      }
    }
  }
  .modal-area {
    .modal-content {
      max-width: 600px;
      .action {
        padding: 8px 0;
        text-align: right;
      }
    }
  }
}
