<div class="chart">
  <div class="header">
    <!-- <h3 class="title">Base Oil Exports</h3> -->
  </div>
  <app-select-dropdown
  *ngIf="!hideDropdown"
    [dropdownTitle]="'Year'"
    [dropdownData]="yearData"
    (itemEvent)="handleChange($event)"
  ></app-select-dropdown>
  <div class="chart-pie">
    <dx-pie-chart
      id="pie"
      title="Base Oil Exports"
      palette="Dark Violet"
      paletteExtensionMode="blend"
      [dataSource]="chartData"
      [size]="{width: 300 }"

    >
      <dxi-series argumentField="label" valueField="value">
        <dxo-label
          [visible]="true"
          [customizeText]="customizeLabel"
        ></dxo-label>
      </dxi-series>
      <!-- <dxo-size [width]="300" ></dxo-size> -->
      <dxo-legend
        verticalAlignment="bottom"
        horizontalAlignment="center"
        itemTextPosition="right"
      >
      </dxo-legend>
    </dx-pie-chart>
  </div>
</div>
