<div class="company-card">
  <div class="card-header">
    <div class="card-header-logo">
      <img [src]="cardData.logo" alt="logo" />
      <div class="clip-line"></div>
    </div>
    <div class="card-header-info">
      <h3 class="title">{{ cardData.Company }}</h3>
      <h4 class="location">
        Plant Location: {{ cardData.City }},
        {{ cardData.Location }}
      </h4>
    </div>
  </div>
  <div class="card-body">
    <div class="first-grid chart-item">
      <div>
        <app-supplier-chart-current-capacity
          [chartData]="cardData.CurrentBaseOilCapacity"
          [text]="cardData.CapasityDesc"
        >
        </app-supplier-chart-current-capacity>
      </div>
      <div>
        <app-supplier-chart-production
          [chartData]="cardData.BaseOilProduction"
        ></app-supplier-chart-production>
      </div>
    </div>
    <div class="chart-item">
      <app-supplier-chart-sustainability-measures
        [chartData]="cardData.SustainabilityMeasures"
        [text]="cardData.SustainabilityMeasuresDesc"
      ></app-supplier-chart-sustainability-measures>
    </div>
    <div class="last-grid chart-item">
      <div>
        <app-supplier-pie-chart-visgrade-yield
          [chartData]="cardData.BaseOilVisgradeYield"
        ></app-supplier-pie-chart-visgrade-yield>
      </div>
      <div>
        <app-supplier-pie-chart-oil-export
          [chartData]="cardData.BaseOilExports"
        ></app-supplier-pie-chart-oil-export>
      </div>
      <div>
        <app-supplier-pie-chart-sales-structure
          [chartData]="cardData.BaseOilSalesStructure"
        >
        </app-supplier-pie-chart-sales-structure>
      </div>
    </div>


  </div>
</div>
