@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";

.cards-details {
  min-height: calc(100vh - 110px);
  padding-top: 98px;
  max-width: 1600px;
  margin: 0 auto;
  &-header {
    padding: 20px;
    padding-top: 60px;
    &-title {
      font-size: 32px;
      font-weight: 600;
      color: $gray;
      @include lg {
        font-size: 24px;
      }
    }
    &-info {
      display: flex;
      align-items: center;
      margin: 24px 0;
      // max-width: 1200px;
      &-industry {
        font-size: 16px;
        color: $gray;
        font-weight: 400;
        @include lg {
          font-size: 14px;
        }
      }
      &-date {
        margin-left: 40px;
        font-size: 16px;
        color: $gray;
        font-weight: 400;
        @include lg {
          font-size: 14px;
        }
      }
    }
    &-desc {
      margin: 24px 0;
      // max-width: 1200px;
      font-size: 20px;
      font-weight: 500;
      color: $gray;
      @include lg {
        font-size: 16px;
      }
    }
  }
  &-body {
    width: inherit;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 20px;
    &-media {
      width: inherit;
      max-width: 1200px;
      margin: 0 auto;
      > img {
        width: 100%;
        height: 100%;
      }
    }
    &-info {
      &-title {
        font-size: 22px;
        font-weight: 600;
        color: $gray;
        margin: 16px 0;
        @include lg {
          font-size: 20px;
        }
      }
      &-desc {
        font-size: 20px;
        font-weight: 500;
        color: $gray;
        margin: 16px 0;
        @include lg {
          font-size: 16px;
        }
      }
    }
  }
  @include lg {
    padding-top: 150px;
  }
}
