<div class="cards-details ">
  <div class="cards-details-header">
    <h1 class="cards-details-header-title">{{ cards_data.title }}</h1>
    <p class="cards-details-header-desc">{{ cards_data.desc }}</p>
    <div class="cards-details-header-info">
      <p class="cards-details-header-info-industry">
       <b> Industry:</b> {{ cards_data.industry }}
      </p>
      <p class="cards-details-header-info-date"> <b> Date:</b> {{ cards_data.date }}</p>
    </div>
  </div>
  <div class="cards-details-body">
    <div class="cards-details-body-info">
      <h3 class="cards-details-body-info-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <p class="cards-details-body-info-desc">
         Ipsam nesciunt
        consequatur sapiente, fugiat magnam minima nam architecto ducimus vitae,
        non fuga provident. Reprehenderit iusto minus ipsa officiis reiciendis
        veniam tempora. Officia, dicta cum fugit soluta consectetur repellendus
        animi sit ab enim obcaecati voluptas molestiae quaerat eligendi quod
        vero velit quo possimus officiis quos repudiandae quasi harum sint!
        Consequatur, exercitationem cupiditate.
      </p>
    </div>
    <div class="cards-details-body-media">
      <img [src]="cards_data.img" />
    </div>
    <div class="cards-details-body-info">
      <h3 class="cards-details-body-info-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <p class="cards-details-body-info-desc">
         Ipsam nesciunt
        consequatur sapiente, fugiat magnam minima nam architecto ducimus vitae,
        non fuga provident. Reprehenderit iusto minus ipsa officiis reiciendis
        veniam tempora. Officia, dicta cum fugit soluta consectetur repellendus
        animi sit ab enim obcaecati voluptas molestiae quaerat eligendi quod
        vero velit quo possimus officiis quos repudiandae quasi harum sint!
        Consequatur, exercitationem cupiditate. Labore assumenda velit
        laudantium ipsam, sunt eius sed, totam facere incidunt voluptatum minima
        accusamus. Ea, unde tenetur necessitatibus fugit voluptatibus incidunt
        amet modi earum enim eaque impedit rem voluptatum eveniet! Commodi
        delectus autem rem voluptatibus? Veniam molestiae accusantium
        dignissimos officiis ad, tempore cum laborum ipsam alias quae sint, odit
        soluta nostrum fugit officia quaerat facilis hic inventore beatae sunt
        rerum!
      </p>
      <p class="cards-details-body-info-desc">
        laudantium ab adipisci fugit eligendi praesentium reprehenderit pariatur
        sequi ullam! Vel deserunt doloremque eos quos, sequi animi odio alias
        minima quae laudantium assumenda voluptatem. Porro, ullam. Quos. Dolores
        modi qui unde. A rem inventore quaerat at doloribus quibusdam aliquid
        est alias architecto quas molestias, beatae, expedita laboriosam facere
        nulla libero molestiae voluptate? Voluptates fugiat laboriosam corrupti
        incidunt? Ipsum, nam! Eaque doloribus eveniet repellendus. Aperiam illum
        unde laborum consequuntur distinctio possimus itaque ea harum
        praesentium, repellat rem nam amet odit quidem vero neque cupiditate in.
        Rem, unde provident.

      </p>
      <h3 class="cards-details-body-info-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>

      <p class="cards-details-body-info-desc">
        Quasi repudiandae impedit voluptatibus? Distinctio repellendus incidunt
        esse porro iusto corporis facere numquam quasi ab repellat recusandae
        laborum corrupti possimus amet, voluptas adipisci aspernatur, magni
        saepe vero delectus qui! Facere odio eveniet illo ullam? Repudiandae,
        numquam libero quia repellendus cupiditate minima ab totam a, non iste
        eveniet magni sit. Debitis praesentium magnam at nisi ad iusto
        provident, cum officiis facilis doloribus expedita sint distinctio.
        Repudiandae sed a exercitationem laboriosam quod perferendis nulla eum
        nesciunt hic quidem! Dignissimos repellat ex facere voluptates
        reprehenderit dolores maiores id officia necessitatibus culpa molestiae,
        vitae sequi deleniti ratione adipisci.
      </p>
      <p class="cards-details-body-info-desc">
        Totam nam, ipsam voluptas dolor aliquam iusto corrupti similique magnam,
        a laudantium reprehenderit cumque tempore atque mollitia consequatur
        minus odio ad reiciendis nulla maxime officiis. Corporis nihil deserunt
        ipsum tenetur. Voluptas unde similique facere accusantium fugiat
        blanditiis doloribus dolor sit sapiente, necessitatibus velit
        temporibus, eos aliquid voluptate laudantium! Nostrum dolores odit
        eligendi iusto, itaque eius impedit perferendis beatae natus reiciendis.
        Porro odio, optio, odit vitae deleniti praesentium dignissimos
        recusandae eaque unde doloribus ipsam quae officiis, harum vel?
      </p>
    </div>
  </div>
</div>
