<div class="first-pie">
  <dx-chart
    id="chart12"
    title="PAO Demand Split by Segment (Kilotonnes)"
    [dataSource]="mergedObj"
    palette="Dark Violet"
    paletteExtensionMode="blend"
  >
    <dxi-series valueField="SumofValues" argumentField="Year"></dxi-series>
    <dxi-series valueField="SumofValues" argumentField="Year"></dxi-series>
    <dxi-series valueField="SumofValues" argumentField="Year"></dxi-series>
    <!-- <dxi-series valueField="SumofValues" argumentField="Segment"></dxi-series>
    <dxi-series valueField="SumofValues" argumentField="Segment"></dxi-series> -->
    <!-- <dxi-value-axis position="right">
          <dxo-title text="millions"></dxo-title>
        </dxi-value-axis> -->
    <dxo-common-series-settings
      argumentField="Segment"
      valueField="SumofValues"
      type="stackedBar"
    >
    </dxo-common-series-settings>
    <dxo-legend
      verticalAlignment="bottom"
      horizontalAlignment="center"
      itemTextPosition="right"
    >
    </dxo-legend>
    <!-- <dxo-export [enabled]="true"></dxo-export> -->
    <!-- <dxo-tooltip
          [enabled]="true"
          location="edge"
          [customizeTooltip]="customizeTooltip"
        >
        </dxo-tooltip> -->
  </dx-chart>
</div>
