<div class="first-pie">
  <div class="filters">
    <div class="custom-dropdown date-dropdown" (click)="toggleBSTypeDropdown()">
      <div class="dropdown-header">
        <span>{{ selectedBSType }}</span>
        <img
          class="dropdown-icon"
          [class.rotate]="isBSTypeDropdownOpen"
          [class.defalut]="!isBSTypeDropdownOpen"
          src="../../../assets/images/small-arrow.svg"
          alt="arrow"
        />
      </div>
      <div class="dropdown-list" *ngIf="isBSTypeDropdownOpen">
        <div
          class="dropdown-item"
          *ngFor="let option of BSTypeList"
          (click)="toggleBSTypeOption(option)"
        >
          {{ option }}
        </div>
      </div>
    </div>
    <div
      class="custom-dropdown date-dropdown"
      (click)="toggleViscosityGradeDropdown()"
    >
      <div class="dropdown-header">
        <span>{{ selectedViscosityGrade }}</span>
        <img
          class="dropdown-icon"
          [class.rotate]="isViscosityGradeDropdownOpen"
          [class.defalut]="!isViscosityGradeDropdownOpen"
          src="../../../assets/images/small-arrow.svg"
          alt="arrow"
        />
      </div>
      <div class="dropdown-list" *ngIf="isViscosityGradeDropdownOpen">
        <div
          class="dropdown-item"
          *ngFor="let option of ViscosityGradeList"
          (click)="toggleViscosityGradeOption(option)"
        >
          {{ option }}
        </div>
      </div>
    </div>
    <div class="custom-dropdown date-dropdown" (click)="toggleYearDropdown()">
      <div class="dropdown-header">
        <span>{{ selectedYear }}</span>
        <img
          class="dropdown-icon"
          [class.rotate]="isYearDropdownOpen"
          [class.defalut]="!isYearDropdownOpen"
          src="../../../assets/images/small-arrow.svg"
          alt="arrow"
        />
      </div>
      <div class="dropdown-list" *ngIf="isYearDropdownOpen">
        <div
          class="dropdown-item"
          *ngFor="let option of yearList"
          (click)="toggleYearOption(option)"
        >
          {{ option }}
        </div>
      </div>
    </div>
  </div>
  <dx-pie-chart
    id="pie"
    title="Share of Synthetic Basestock by Viscosity Grade (KT)"
    [palette]="customPalette"
    paletteExtensionMode="blend"
    [dataSource]="mergedObj"
  >
    <dxi-series argumentField="BSType" valueField="SumofValues">
      <dxo-small-values-grouping
        mode="smallValueThreshold"
        [threshold]="4.5"
      ></dxo-small-values-grouping>
    </dxi-series>
    <dxo-tooltip
      [enabled]="true"
      [contentTemplate]="customizeLabel"
      [color]="tooltipColor"
    ></dxo-tooltip>
    <!-- <dxo-size [width]="300"></dxo-size> -->
    <dxo-legend
      verticalAlignment="bottom"
      horizontalAlignment="center"
      itemTextPosition="right"
    >
    </dxo-legend>
  </dx-pie-chart>
  <div class="pie-chart-total">
    Total: {{ totalSum.toFixed(1) }} Kilotonnes​
  </div>
</div>
