<div class="breadcrumps-section container">
  <div class="home">
    <img class="home-img" src="../../../assets/images/home.svg" alt="home" />
    <img class="arrow" src="../../../assets/images/small-arrow.svg" alt="arrow" />
  </div>
  <div>
    <p>Our Coverage</p>
    <img class="arrow" src="../../../assets/images/small-arrow.svg" alt="arrow" />
  </div>
  <div>
    <p>Synthetic Basestocks Deblend Model</p>
    <img class="arrow" src="../../../assets/images/small-arrow.svg" alt="arrow" />
  </div>
  <div>
    <p>Tabular View</p>
  </div>
</div>
