<div class="breadcrumps-section container">
  <div class="home">
    <img class="home-img" src="../../../assets/images/home.svg" alt="home" />
    <div>
      <img class="arrow" src="../../../assets/images/small-arrow.svg" alt="arrow" />
    </div>
  </div>
  <div class="breadcrumps-list" *ngFor="let item of breadcrumpData">
    <div *ngIf="item.home" >
      <p >{{item.home}}</p>
      <div *ngIf="item.main">
        <img class="arrow" src="../../../assets/images/small-arrow.svg" alt="arrow" />
      </div>
    </div>
    <div *ngIf="item.main">
      <p>{{item.main}}</p>
      <div *ngIf="item.tab">
        <img class="arrow" src="../../../assets/images/small-arrow.svg" alt="arrow" />
      </div>
    </div>
    <div *ngIf="item.tab">
      <p>{{item.tab}}</p>
    </div>
  </div>
</div>
