<div class="first-pie">
  <div class="filters">
    <div
      class="custom-dropdown date-dropdown"
      (click)="toggleSegmentDropdown()"
      style="width: 100%"
    >
      <div class="dropdown-header">
        <span>{{ selectedSegment }}</span>
        <img
          class="dropdown-icon"
          [class.rotate]="isSegmentDropdownOpen"
          [class.defalut]="!isSegmentDropdownOpen"
          src="../../../assets/images/small-arrow.svg"
          alt="arrow"
        />
      </div>
      <div class="dropdown-list" *ngIf="isSegmentDropdownOpen">
        <div
          class="dropdown-item"
          *ngFor="let option of segmentList"
          (click)="toggleSegmentOption(option)"
        >
          {{ option }}
        </div>
      </div>
    </div>

    <div
      class="custom-dropdown date-dropdown"
      (click)="toggleSectorDropdown()"
      style="width: 100%"
    >
      <div class="dropdown-header">
        <span>{{ selectedSector }}</span>
        <img
          class="dropdown-icon"
          [class.rotate]="isSectorDropdownOpen"
          [class.defalut]="!isSectorDropdownOpen"
          src="../../../assets/images/small-arrow.svg"
          alt="arrow"
        />
      </div>
      <div class="dropdown-list" *ngIf="isSectorDropdownOpen">
        <div
          class="dropdown-item"
          *ngFor="let option of sectorList"
          (click)="toggleSectorOption(option)"
        >
          {{ option }}
        </div>
      </div>
    </div>

    <div
      class="custom-dropdown date-dropdown"
      (click)="toggleYearDropdown()"
      style="width: 100%"
    >
      <div class="dropdown-header">
        <span>{{ selectedYear }}</span>
        <img
          class="dropdown-icon"
          [class.rotate]="isYearDropdownOpen"
          [class.defalut]="!isYearDropdownOpen"
          src="../../../assets/images/small-arrow.svg"
          alt="arrow"
        />
      </div>
      <div class="dropdown-list" *ngIf="isYearDropdownOpen">
        <div class="dropdown-item" *ngFor="let option of combinedYearList">
          {{ option }}
        </div>
      </div>
    </div>
  </div>
  <dx-chart
    id="chart"
    title="Growth Rates (%CAGR)"
    [dataSource]="segmentChartData"
    [rotated]="false"
  >
    <dxi-series
      color="#79cac4"
      type="bar"
      width="50"
      argumentField="BSType"
      valueField="SumofValues"
    >
      <!-- <dxo-label [visible]="true" format="percent"></dxo-label> -->
    </dxi-series>
    <dxo-legend [visible]="false"></dxo-legend>
  </dx-chart>
</div>
