<div class="used-oil-tab-content">
  <div class="header">
    <h3>{{ oilData[0].country }}</h3>
  </div>
  <div class="body">
    <div class="body-details" *ngFor="let item of oilData[0].details">
      <div class="title">
        <div>
          {{ item.name }}
          <div class="circle-left"></div>
          <div class="circle-right"></div>
        </div>
      </div>
      <ul  *ngIf="item.list">
        <li *ngFor="let li of item.list">
          {{ li.text }}
          <ul *ngIf="li.listDetails">
            <li *ngFor="let el of li.listDetails">
              {{ el }}
            </li>
          </ul>
        </li>
      </ul>
      <ol *ngIf="item.olList">
        <li *ngFor="let li of item.olList">
          {{ li.text }}
          <ul *ngIf="li.listDetails">
              <li *ngFor="let el of li.listDetails">
                  {{ el }}
              </li>
          </ul>
        </li>
      </ol>
      <div class="tabs" *ngIf="item.tabs">
        <div *ngFor="let tab of item.tabs">
          <h4 class="tab-title">
            {{ tab.title }}
          </h4>
          <ul *ngIf="tab.tabsList">
            <li *ngFor="let el of tab.tabsList">
              {{ el }}
            </li>
          </ul>
        </div>
      </div>
      <p *ngIf="item.desc">
        {{ item.desc }}
      </p>
    </div>
  </div>
</div>
