<div class="first-pie">
  <div class="filters">
    <div class="custom-dropdown date-dropdown" (click)="toggleYearDropdown()">
      <div class="dropdown-header">
        <span>{{ selectedSinteticEster }}</span>
        <img
          class="dropdown-icon"
          [class.rotate]="isYearDropdownOpen"
          [class.defalut]="!isYearDropdownOpen"
          src="../../../assets/images/small-arrow.svg"
          alt="arrow"
        />
      </div>
      <div class="dropdown-list" *ngIf="isYearDropdownOpen">
        <div
          class="dropdown-item"
          *ngFor="let option of sinteticEsterList"
          (click)="toggleYearOption(option)"
        >
          {{ option }}
        </div>
      </div>
    </div>
  </div>
  <dx-pie-chart
    id="pie"
    title="Synthetic Ester Demand Split by Product (KT)"
    palette="Dark Violet"
    paletteExtensionMode="blend"
    [dataSource]="mergedObj"
  >
    <dxi-series argumentField="product" valueField="value">
      <dxo-small-values-grouping
        mode="smallValueThreshold"
        [threshold]="4.5"
      ></dxo-small-values-grouping>
    </dxi-series>
    <dxo-tooltip
      [enabled]="true"
      [contentTemplate]="customizeLabel"
    ></dxo-tooltip>
    <dxo-legend
      verticalAlignment="bottom"
      horizontalAlignment="center"
      itemTextPosition="right"
    ></dxo-legend>
  </dx-pie-chart>
  <div class="pie-chart-total">
    Total: {{ totalSum.toFixed(1) }} Kilotonnes​
  </div>
</div>
