@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/_mixins.scss";

.supplier-profiles {
  min-height: calc(100vh - 135px);
  padding-top: 69px;
  &-filters {
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
  }
  &-body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    .company-card {
      .card-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0;
        // border-bottom: 1px solid $orange;
        &-logo {
          width: 120px;
          height: 120px;
          > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &-info {
          margin-left: 20px;
          .title {
            font-size: 24px;
            font-weight: 600;
            color: $gray;
            margin-bottom: 10px;
          }
          .location {
            font-size: 20px;
            font-weight: 500;
            color: $orange;
          }
        }
      }
      .card-body {
        display: grid;
        grid-gap: 20px;
        // grid-template-columns: 1fr 1fr;
      }
    }
  }
}
