<div class="supplier-profiles">
  <app-hero-section
    subtitle="Competitive Landscape"
    title="Supplier Profiles"
    desc="
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    "
  ></app-hero-section>
  <div class="supplier-profiles-filters">
    <div class="selects">
      <app-select-dropdown
        *ngIf="selectedMainTab === 1"
        [dropdownTitle]="'Supplier'"
        [dropdownData]="supplierDropList"
        (itemEvent)="handleSupplierChange($event)"
        [firstItemSelected]="true"
      ></app-select-dropdown>
      <app-multiple-select-dropdown
        *ngIf="selectedMainTab === 2"
        [dropdownTitle]="'a maximum of 3 Suppliers'"
        [dropdownData]="supplierDropList"
        (itemEvent)="handleMultipleSupplierChange($event)"
        [firstItemSelected]="false"
        [maxLimit]="3"
        [minLimit]="3"
      ></app-multiple-select-dropdown>
      <app-multiple-select-dropdown
        *ngIf="selectedMainTab === 2"
        [dropdownTitle]="'a maximum of 3 Regions'"
        [dropdownData]="regionsList"
        (itemEvent)="handleMultipleRegionChange($event)"
        [firstItemSelected]="true"
        [maxLimit]="3"
        [minLimit]="3"
      ></app-multiple-select-dropdown>
      <app-select-dropdown
        *ngIf="selectedMainTab === 1"
        [dropdownTitle]="'Region'"
        [dropdownData]="regionsList"
        (itemEvent)="handleRegionChange($event)"
        [firstItemSelected]="false"
      ></app-select-dropdown>
      <app-select-dropdown
        [dropdownTitle]="'Unit'"
        [dropdownData]="unitList"
        (itemEvent)="handleUnitChange($event)"
        [firstItemSelected]="true"
      ></app-select-dropdown>
    </div>
    <div class="actions">
      <app-button
        [btnText]="'Download Data'"
        [type]="'secondary'"
        [icon]="false"
        [iconName]="''"
      ></app-button>
      <app-button
        *ngIf="selectedMainTab === 1"
        [btnText]="'Compare Supplier Profiles'"
        [type]="'secondary'"
        [icon]="false"
        [iconName]="''"
        (click)="selectedMainTab = 2"
      ></app-button>
      <app-button
        *ngIf="selectedMainTab === 2"
        [btnText]="'Back to Profiles'"
        [type]="'secondary'"
        [icon]="false"
        [iconName]="''"
        (click)="selectedMainTab = 1"
      ></app-button>
    </div>
  </div>
  <div class="supplier-profiles-body" *ngIf="selectedMainTab === 1">
    <app-supplier-profiles-large-card
      [cardData]="selectedCompany"
    ></app-supplier-profiles-large-card>
  </div>
  <div class="supplier-profiles-body" *ngIf="selectedMainTab === 2">
    <app-supplier-profiles-filtering-cards
      [cardsData]="selectedCompanyList"
    ></app-supplier-profiles-filtering-cards>
  </div>
</div>
