@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";

.bio-compare {
  min-height: calc(100vh - 135px);
  padding-top: 69px;
  &-header {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 400px;
    box-shadow: inset 0px 10px 9px rgba(63, 63, 63, 0.06);
    border-bottom: 1px solid rgba(63, 63, 63, 0.1529411765);
    &-title {
      background: #f7f7f7;
      color: #3f3f3f;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      letter-spacing: 0.05em;
      padding: 35px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 105%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-desc {
      max-width: 800px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #3f3f3f;
      text-align: left;
      padding: 84px 20px;
      .subtitle {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
  &-filters {
    padding: 40px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1210px;
    margin: 0 auto;
    .filters {
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: center;
      grid-gap: 16px;
      align-items: center;
      > select {
        border: none;
        border-bottom: 1px solid $orange;
        padding: 8px;
        font-size: 14px;
        font-weight: 500;
        max-width: 300px;
        white-space: unset;
        // margin-right: 16px;
        color: $gray;
        option {
          padding: 8px;
          background-color: #eee;
          color: #333;
          border: none;
          border-radius: 5px;
        }
      }
      .search-section {
        display: flex;
        align-items: center;
        min-height: 32px;
        padding: 8px;
        border-bottom: 1px solid $orange;
        .serach-input {
          > input {
            border: none;
            height: 100%;
            color: $gray;
            font-size: 14px;
            font-weight: 500;
            &::placeholder {
              color: #3f3f3f77;
            }
          }
        }
      }
      .filter-actions {
        display: flex;
        .serach-btn {
          border: none;
          background-color: transparent;
          // margin-left: 10px;
          cursor: pointer;
          > svg {
            display: block;
            width: 20px;
            height: 20px;
            path {
              fill: $orange;
            }
          }
        }
      }
    }
    .filters-action {
      display: flex;
    }
    .modal-content {
      padding: 20px 0 0;
      > div {
        display: grid;
        justify-content: center;
        grid-gap: 32px;
        justify-items: center;
        .desc {
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
          color: $gray;
        }
        > input {
          padding: 8px;
          width: 100%;
          max-width: 300px;
          border: none;
          color: $gray;
          border-bottom: 1px solid $orange;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
  &-body {
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    &-timeperiod-table {
      &-title {
        margin: 20px 0;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        color: $gray;
      }
    }
    &::ng-deep {
      .dx-header-row {
        // background-color: red !important;
        td {
          display: block !important;
          margin: 20px 10px !important;
          border-radius: 4px !important;
          text-align: center !important;
          color: $white;
          text-transform: uppercase;
          font-size: 14px !important;
          font-weight: 600;
          &:nth-of-type(1) {
            background: #5e9d9f;
          }
          &:nth-of-type(2) {
            background: $gray;
          }
          &:nth-of-type(3) {
            background: #d08ad3;
          }
          &:nth-of-type(4) {
            background: #8abe67;
          }
          &:nth-of-type(5) {
            background: #fdbb89;
          }
        }
      }
      .dx-datagrid-headers {
        border-bottom: none !important;
      }
      .dx-data-row {
        td {
          display: block !important;
          margin: 10px !important;
          border-radius: 4px !important;
          &:nth-of-type(1) {
            text-align: center !important;
            font-size: 13px;
            display: flex !important;
            justify-content: center;
            align-items: center;
            // font-weight: 600;
            color: $white;
            // text-transform: uppercase;
            background: #5e9d9fbe !important;
          }
          &:nth-of-type(2) {
            &:hover {
              background: $gray-light !important;
            }
          }
          &:nth-of-type(3) {
            &:hover {
              background: #cf9bd16e;
            }
          }
          &:nth-of-type(4) {
            &:hover {
              background: #a0c28a6e;
            }
          }
          &:nth-of-type(5) {
            &:hover {
              background: #f5c5a16e;
            }
          }
          // }
        }
      }
      .dx-row {
        td {
          border-bottom: none !important;
        }
      }
      .dx-datagrid-rowsview {
        .dx-row {
          border: none !important;
        }
      }
      tr {
        white-space: normal !important;
        display: grid;
        grid-template-columns: repeat(5, 100%);
        width: 100%;
      }
    }
  }
  .modal-area {
    &::ng-deep {
      .dx-header-row {
        // background-color: red !important;
        td {
          display: block !important;
          margin: 20px 10px !important;
          border-radius: 4px !important;
          text-align: center !important;
          color: $white;
          text-transform: uppercase;
          font-size: 14px !important;
          font-weight: 600;
          &:nth-of-type(1) {
            background: #5e9d9f;
          }
          &:nth-of-type(2) {
            background: $gray;
          }
          &:nth-of-type(3) {
            background: $orange;
          }
          &:nth-of-type(4) {
            background: #8abe67;
          }
          &:nth-of-type(5) {
            background: #fdbb89;
          }
        }
      }
      .dx-datagrid-headers {
        border-bottom: none !important;
      }
      .dx-data-row {
        td {
          display: block !important;
          margin: 10px !important;
          border-radius: 4px !important;
          font-size: 13px;
          display: flex !important;
          justify-content: center;
          align-items: center;
          &:nth-of-type(1) {
            // font-weight: 600;
            // text-transform: uppercase;
            &:hover {
              background: #5e9d9fbe !important;
            }
          }
          &:nth-of-type(2) {
            white-space: pre-line;
            &:hover {
              background: $gray-light !important;
            }
          }
          &:nth-of-type(3) {
            white-space: pre-line;
            &:hover {
              background: $orangeOp;
            }
          }
        }
      }
      .dx-row {
        td {
          border-bottom: none !important;
        }
      }
      .dx-datagrid-rowsview {
        .dx-row {
          border: none !important;
        }
      }
      tr {
        white-space: normal !important;
        display: grid;
        grid-template-columns: repeat(5, 100%);
        width: 100%;
      }
    }
  }
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 300px;
  &.date-dropdown {
    width: 300px;
  }
}

.dropdown-header {
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  max-width: 300px;
  white-space: unset;
  // margin-right: 16px;
  color: $gray;
  border-bottom: 1px solid $orange;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.dropdown-icon {
  width: 12px;
  position: absolute;
  right: 8px;
  top: 15px;
  &.rotate {
    transform: rotate(180deg);
  }
  // margin-left: 5px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  z-index: 12;
  padding: 8px 0;
}

.dropdown-item {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  max-width: 300px;
  white-space: unset;
  color: $gray;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: $gray-light;
}
