<div class="first-pie">
  <div class="filters">
    <div
      class="custom-dropdown date-dropdown"
      (click)="toggleSegmentDropdown()"

    >
      <div class="dropdown-header">
        <span>{{ selectedSegment }}</span>
        <img
          class="dropdown-icon"
          [class.rotate]="isSegmentDropdownOpen"
          [class.defalut]="!isSegmentDropdownOpen"
          src="../../../assets/images/small-arrow.svg"
          alt="arrow"
        />
      </div>
      <div class="dropdown-list" *ngIf="isSegmentDropdownOpen">
        <div
          class="dropdown-item"
          *ngFor="let option of segmentList"
          (click)="toggleSegmentOption(option)"
        >
          {{ option }}
        </div>
      </div>
    </div>
  </div>

  <dx-chart
    id="chart12"
    title="PAO Demand Split by Segment (Kilotonnes)"
    [dataSource]="mergedObj"
    palette="Dark Violet"
    paletteExtensionMode="blend"
  >
    <dxi-series valueField="SumofValues" argumentField="Year"></dxi-series>
    <dxi-series valueField="SumofValues" argumentField="Year"></dxi-series>
    <dxi-series valueField="SumofValues" argumentField="Year"></dxi-series>

    <dxo-common-series-settings
      argumentField="Segment"
      valueField="SumofValues"
      type="stackedBar"
    >
    </dxo-common-series-settings>
    <dxo-legend
      verticalAlignment="bottom"
      horizontalAlignment="center"
      itemTextPosition="right"
    >
    </dxo-legend>

  </dx-chart>
</div>
