@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/_mixins.scss";
.chart-capacity {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  .title {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 600;
    // text-align: center;
    margin-top: 15px;
  }
  p {
    margin-top: 36px;
    font-size: 16px;
    font-weight: 500;
    color: $gray;
  }
  ::ng-deep {
    .dx-freespace-row {
      display: none !important;
      height: 0 !important;
    }
    .dx-header-row {
      // background-color: red !important;
      td {
        display: block !important;
        margin: 0px 10px 20px !important;
        border-radius: 4px !important;
        text-align: center !important;
        color: $white;
        text-transform: uppercase;
        font-size: 14px !important;
        font-weight: 600;
        // &:nth-of-type(odd) {
        //   background: #fdbb89;
        // }
        // &:nth-of-type(even) {
        background: rgba(63, 63, 63, 0.5);

        // }
        &:nth-of-type(1) {
          background: rgba(223, 123, 46, 0.5) !important;
        }
      }
    }
    .dx-datagrid-headers {
      border-bottom: none !important;
    }
    .dx-data-row {
      td {
        display: block !important;
        margin: 10px !important;
        border-radius: 4px !important;
        &:nth-of-type(1) {
          text-align: center !important;
          font-size: 13px;
          display: flex !important;
          justify-content: center;
          align-items: center;
          color: $white;
          background: rgba(223, 123, 46, 0.5) !important;
        }
        // &:nth-of-type(odd) {
        //   &:hover {
        //     background: #f5c5a16e;
        //   }
        // }
        // &:nth-of-type(even) {
        // }
        &:hover {
          background: $gray-light !important;
        }
        &:nth-of-type(1) {
          &:hover {
            background: $orange !important;
          }
        }
        // &:nth-of-type(2) {
        //   &:hover {
        //     background: $gray-light !important;
        //   }
        // }
        // &:nth-of-type(3) {
        //   &:hover {
        //     background: #cf9bd16e;
        //   }
        // }
        // &:nth-of-type(4) {
        //   &:hover {
        //     background: #a0c28a6e;
        //   }
        // }
        // &:nth-of-type(5) {
        //   &:hover {
        //     background: #f5c5a16e;
        //   }
        // }
        // }
      }
    }
    .dx-row {
      td {
        border-bottom: none !important;
        text-align: center !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
      }
    }
    .dx-datagrid-rowsview {
      .dx-row {
        border: none !important;
      }
    }
    tr {
      white-space: normal !important;
      display: grid;
      grid-template-columns: repeat(3, 200px);
      width: 100%;
    }
  }
}
