<div class="first-pie">
  <div class="filters">
    <div
      class="custom-dropdown date-dropdown"
      (click)="toggleYearDropdown()"

    >
      <div class="dropdown-header">
        <span>{{ selectedYear }}</span>
        <img
          class="dropdown-icon"
          [class.rotate]="isYearDropdownOpen"
          [class.defalut]="!isYearDropdownOpen"
          src="../../../assets/images/small-arrow.svg"
          alt="arrow"
        />
      </div>
      <div class="dropdown-list" *ngIf="isYearDropdownOpen">
        <div
          class="dropdown-item"
          *ngFor="let option of yearList"
          (click)="toggleYearOption(option)"
        >
          {{ option }}
        </div>
      </div>
    </div>
  </div>
  <dx-pie-chart
    id="pie"
    title="PAO Demand Split by Product (%)"
    [palette]="customPalette"
    [dataSource]="mergedObj"
  >
    <dxi-series argumentField="Sector" valueField="SumofValues">
      <!-- <dxo-label [visible]="true" format="percent"></dxo-label> -->
      <dxo-label [visible]="false" [customizeText]="customizeLabel"></dxo-label>
      <dxo-small-values-grouping
      mode="smallValueThreshold"
      [threshold]="4.5"
    ></dxo-small-values-grouping>
  </dxi-series>
  <dxo-tooltip
  [enabled]="true"
  [contentTemplate]="customizeLabel"
  [color]="tooltipColor"
></dxo-tooltip>
    <!-- <dxo-size [width]="300"></dxo-size> -->
    <dxo-legend
      verticalAlignment="bottom"
      horizontalAlignment="center"
      itemTextPosition="right"
    ></dxo-legend>
  </dx-pie-chart>
  <div class="pie-chart-total">Total: {{ totalSum.toFixed(1) }} Kilotonnes​ </div>
</div>
