<div class="capacity-map-tab">
  <div class="capacity-map-tab-filters">
    <div class="select-fiters">
      <app-select-dropdown
        [dropdownTitle]="'City'"
        [dropdownData]="dropdownItems"
        (itemEvent)="handleChange($event)"
      ></app-select-dropdown>
    </div>
    <div class="filters-action">
      <app-button
        [btnText]="'Download Data'"
        [type]="'secondary'"
        [icon]="false"
        [iconName]="''"
      ></app-button>
    </div>
  </div>
  <div class="map-section">
    <dx-map
      #map
      [height]="600"
      width="100%"
      [controls]="true"
      [zoom]="8"
      provider="google"
      [apiKey]="keys"
      [markerIconSrc]="mapMarkerUrl"
      [markers]="markers"
    >
    </dx-map>
    <!-- <dx-vector-map  id="vector-map" [bounds]="[-180, 85, 180, -60]"
                     [zoomFactor]="3">
                    <dxo-size [height]="500">
                    </dxo-size>
                    <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip"></dxo-tooltip>
                    <dxi-layer [dataSource]="worldMap" [hoverEnabled]="false"></dxi-layer>
                    <dxi-layer [dataSource]="markers" [minSize]="20" [maxSize]="40"
                        [sizeGroups]="[0, 50, 150, 250, 500, 5000]" [opacity]="0.8" name="bubbles" elementType="bubble"
                        dataField="value" [customize]="customizeMarkerLayer">
                    </dxi-layer>
                    <dxi-legend title="Capacity" markerShape="circle" [customizeText]="customizeText"
                        [customizeItems]="customizeItems" horizontalAlignment="right" verticalAlignment="bottom">
                        <dxo-source layer="bubbles" grouping="size"></dxo-source>
                    </dxi-legend>
                  </dx-vector-map> -->
    <!-- <dxi-legend title="Capacity" verticalAlignment="bottom" horizontalAlignment="right"
                      [customizeText]="customizeText">
                      <div *dxTemplate="let item of 'markerTemplate'">
                          <svg width="100" height="100">
                              <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
                          </svg>
                          <div>{{testMethod()}}</div>
                      </div>
                  </dxi-legend> -->
    <!-- <dxi-legend title="Capacity" markerShape="circle" markerTemplate="markerTemplate"
                      horizontalAlignment="right" verticalAlignment="bottom">
                      <dxo-source layer="bubbles" grouping="size"></dxo-source>
                      <svg width="100" height="100">
                          <text x="0" y="0" transform="translate(7,0)" text-anchor="start"
                              style="white-space: pre;">Test</text>
                      </svg>
                      <div *dxTemplate="let item of 'markerTemplate'" attr.fill="red">
                          <rect x="0" y="0" width="18" height="18" opacity="0.3" attr.fill="blue">
                          </rect>
                          <text x="0" y="0" transform="translate(7,0)" text-anchor="start"
                              style="white-space: pre;">Test</text>
                      <div>{{testMethod(item)}}</div>
                      </div>
                  </dxi-legend> -->
  </div>
  <div class="capacity-data-table container">
    <dx-data-grid
      id="gridContainer"
      [dataSource]="selectedCountry"
      [showColumnLines]="false"
      [showRowLines]="false"
      [columnWidth]="150"
      [showBorders]="false"
      [rowAlternationEnabled]="true"
    >
      <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
      <!-- <dxo-paging [pageSize]="6"> </dxo-paging>
    <dxo-pager
      [visible]="true"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    >
    </dxo-pager> -->
    </dx-data-grid>
  </div>
</div>
