<div class="chart">
  <!-- <h3>Base Oil Production ('000 Tonnes)</h3> -->
  <div>
    <dx-chart
      title="Base Oil Production ('000 Tonnes)"
      [dataSource]="chartData"
      [palette]="customPalette"
      paletteExtensionMode="blend"
    >
      <dxi-series
        argumentField="year"
        valueField="capacity"
        type="bar"
        name="Group III"
        color="#df7b2e"
      ></dxi-series>
      <dxi-series
        argumentField="year"
        valueField="capacity"
        type="line"
        name="Caputil(%)"
        color="black"
      ></dxi-series>
      <dxo-label [visible]="true"></dxo-label>
      <dxo-legend
        [visible]="true"
        verticalAlignment="bottom"
        horizontalAlignment="center"
        itemTextPosition="right"
      ></dxo-legend>
      <!-- <dxo-size [width]="600"></dxo-size> -->
    </dx-chart>
  </div>
</div>
