.wall-section {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  .wall {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 50%;
    // overflow: hidden;
    position: relative;
    grid-gap: 25px;
    margin: 40px auto;
    .wall-area {
      background-color: #ebeaea;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      text-align: center;
      > h3 {
        max-width: 144px;
      }
      > p {
        max-width: 144px;
      }
      &:nth-of-type(1) {
        padding-left: 76px;
        padding-bottom: 60px;
        justify-content: flex-end;
        background: #ebeaea;
        border-top-left-radius: 140%;
      }
      &:nth-of-type(2) {
        padding-right: 76px;
        padding-bottom: 60px;
        justify-content: flex-end;
        background: #278084;
        border-top-right-radius: 140%;
      }
      &:nth-of-type(3) {
        padding-left: 76px;
        padding-top: 60px;
        background: #df7b2e;
        border-bottom-left-radius: 140%;
      }
      &:nth-of-type(4) {
        padding-right: 76px;
        background: #ebeaea;
        border-bottom-right-radius: 140%;
        padding-top: 60px;
      }
    }
    .circle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      pointer-events: none;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .tab {
    position: absolute;
    display: flex;
    flex-direction: column;
    .list {
      .list-item {
        padding: 8px 16px;
        a {
          text-decoration: none;
          font-weight: 600;
          font-size: 14px;
          color: #3e3e3e;
        }
      }
    }
    &.content1 {
      left: -66%;
      top: 0;
      align-items: flex-end;
      .list {
        border-bottom: 2px solid #4c4c4ca1;
        border-right: 2px solid #4c4c4ca1;
        width: auto;
        &:nth-of-type(1) {
          // border-right: none;
          border-top: 2px solid #4c4c4ca1;
          border-top-right-radius: 8px;
        }

        &:last-of-type {
          border-bottom-right-radius: 8px;
        }
        .list-item {
          text-align: right;
        }
      }
    }
    &.content2 {
      right: -35%;
      top: 0;
      align-items: flex-start;

      .list {
        border-bottom: 2px solid #278084;
        border-left: 2px solid #278084;
        width: auto;
        &:nth-of-type(1) {
          // border-right: none;
          border-top: 2px solid #278084;
          border-top-left-radius: 8px;
        }

        &:last-of-type {
          border-bottom-left-radius: 8px;
        }
        .list-item {
          text-align: left;
        }
      }
    }
    &.content3 {
      left: -66%;
      bottom: 0;
      align-items: flex-end;
      .list {
        border-bottom: 2px solid #df7b2e;
        border-right: 2px solid #df7b2e;
        width: auto;
        &:nth-of-type(1) {
          // border-right: none;
          border-top: 2px solid #df7b2e;
          border-top-right-radius: 8px;
        }

        &:last-of-type {
          border-bottom-right-radius: 8px;
        }
        .list-item {
          text-align: right;
        }
      }
    }
    &.content4 {
      right: -50%;
      bottom: 0;
      align-items: flex-start;

      .list {
        border-bottom: 2px solid #4c4c4ca1;
        border-left: 2px solid #4c4c4ca1;
        width: auto;
        &:nth-of-type(1) {
          // border-right: none;
          border-top: 2px solid #4c4c4ca1;
          border-top-left-radius: 8px;
        }

        &:last-of-type {
          border-bottom-left-radius: 8px;
        }
        .list-item {
          text-align: left;
        }
      }
    }
  }
}
