<div class="news-sidebar">
  <h3 class="news-sidebar-title">Latest Updates</h3>
  <div class="news-section">
    <div class="news">
      <div class="news-image">
        <img src="../../../assets/images/sidebar-img-1.jpg" alt="card-img" />
      </div>
      <h4 class="news-title">News Title</h4>
      <p class="news-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </p>
    </div>
    <div class="news">
      <div class="news-image">
        <img src="../../../assets/images/cavorage-bg.png" alt="card-img" />
      </div>
      <h4 class="news-title">News Title</h4>
      <p class="news-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </p>
    </div>
    <div class="news">
      <div class="news-image">
        <img src="../../../assets/images/sidebar-img-3.jpg" alt="card-img" />
      </div>
      <h4 class="news-title">News Title</h4>
      <p class="news-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </p>
    </div>
  </div>
</div>
