@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/_mixins.scss";

.rrbo {
  min-height: calc(100vh - 135px);
  padding-top: 132px;

  &-body {
    &-tabs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // justify-items: center;
      grid-gap: 20px;
      padding: 32px 20px;
      .tab {
        padding: 20px;
        width: 100%;
        text-align: center;
        color: $white;
        border-radius: 4px;
        text-transform: uppercase;
        cursor: pointer;
        &:nth-last-of-type(3) {
          background-color: $teal;
        }
        &:nth-last-of-type(2) {
          background-color: $gray;
        }
        &:nth-last-of-type(1) {
          background-color: $orange;
        }
        &.active {
          opacity: 0.8;
          h3 {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
