<div class="rrbo">
  <div class="rrbo-header">
    <div class="rrbo-header-desc">
      <p>
        RRBO Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <h1 class="rrbo-header-title">RRBO</h1>
  </div>
  <div class="rrbo-body">
    <div class="rrbo-body-tabs">
      <div
        class="tab"
        (click)="selectedTab = 1"
        [ngClass]="{ active: selectedTab === 1 }"
      >
        <h3>Regulations</h3>
      </div>
      <div
        class="tab"
        (click)="selectedTab = 2"
        [ngClass]="{ active: selectedTab === 2 }"
      >
        <h3>Capacity Map</h3>
      </div>
      <div
        class="tab"
        (click)="selectedTab = 3"
        [ngClass]="{ active: selectedTab === 3 }"
      >
        <h3>Material Balance</h3>
      </div>
    </div>
    <div class="tabs-content">
      <div *ngIf="selectedTab === 1">
        <app-regulation-rrbo></app-regulation-rrbo>
      </div>
      <div *ngIf="selectedTab === 2">2</div>
      <div *ngIf="selectedTab === 3">3</div>
    </div>
  </div>
</div>
