/* You can add global styles to this file, and also import other style files */
@import "../node_modules/devextreme/dist/css/dx.common.css";
@import "../node_modules/devextreme/dist/css/dx.light.css";
@import "./assets/scss/fonts.scss";
@import "./assets/scss/variables.scss";
@import "./assets/scss/_mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: $main-font;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}
.fixed {
  overflow: hidden;
}
