@import "../../assets/scss/fonts.scss";
@import "../../assets/scss/variables.scss";
@import "../../assets/scss/_mixins.scss";

.lending-page-content {
  .lending-page {
    margin-bottom: 100px;
    overflow-x: hidden;
    margin-top: 150px;

    .hero {
      margin-bottom: 24px;
      display: flex;
      flex-direction: column-reverse;
      padding: 0 20px;

      .hero-desc {
        display: flex;
        justify-content: center;
        align-items: center;

        > p {
          font-size: 18px;
          text-align: center;
          font-weight: 500;
        }
      }

      .hero-section {
        width: 100%;
        position: relative;
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &-content {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 300px;
          justify-items: center;
          max-width: 1440px;
          h1 {
            padding: 0 80px;
            color: #3f3f3f;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0.09em;
            display: none;
          }

          > h3 {
            // padding: 0 80px;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #3f3f3f;
            text-align: center;

            @include lg {
              padding: 0 20px;
            }
          }
        }

        &-background {
          position: relative;
          width: 100%;
          max-width: 1440px;

          ::ng-deep {
            .dx-gallery-nav-button-prev {
              &::before {
                left: 72px;
                top: 67px;
              }

              &::after {
                left: 73px;
                top: 67px;
              }
            }

            .dx-gallery-nav-button-next {
              &::before {
                top: 67px;
              }

              &::after {
                top: 67px;
              }
            }
          }

          ::ng-deep {
            .dx-gallery {
              width: 100% !important;
              clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 105%);

              .slider {
                position: relative;

                > img {
                  height: 100%;
                  object-fit: cover;
                }

                .slider-name {
                  position: absolute;
                  top: 20px;
                  left: 0;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  height: 100%;
                  color: $white;
                  font-size: 32px;

                  .asd {
                    max-width: 420px;
                    margin: 0 auto;
                    display: inline-block;
                    font-size: 16px;
                    height: auto;
                    white-space: normal !important;
                  }
                }
              }
            }
          }

          > img {
            height: 100%;
          }

          > div {
            position: absolute;
            z-index: 2;
            pointer-events: none;

            &.line-up {
              top: -10px;
              left: 0;
              width: 100%;
              height: 203px;

              > img {
                object-fit: cover;
                width: 100px;
                height: 100%;
                object-position: left;
                animation: lineWidth 5s ease-in-out forwards;
              }
            }

            &.line-down {
              bottom: -14px;
              left: 0;
              right: 0;
              height: 155px;

              > img {
                object-fit: cover;
                width: 100px;
                height: 100%;
                object-position: left;
                animation: lineWidth 5s ease-in-out forwards;
              }
            }
          }
        }
      }
    }

    .info-section {
      padding: 20px;

      .search-item {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        border-bottom: 1px solid #3e3e3e;
        width: 100%;
        max-width: 1024px;

        > svg {
          width: 33px;
        }

        padding-bottom: 0;

        .search-bar {
          display: flex;
          align-items: center;
          min-height: 32px;
          padding-bottom: 8px;
          width: 99%;

          .serach-input {
            width: 100%;

            > input {
              border: none;
              min-height: 26px;
              color: #3f3f3f;
              width: 100%;
              font-size: 18px;

              &::placeholder {
                color: #3f3f3f77;
              }
            }
          }

          .serach-btn {
            width: 20px;
            height: 20px;
          }
        }
      }

      .main-infos {
        // display: grid;
        // grid-template-columns: repeat(2, minmax(200px, 500px));
        // grid-gap: 24px;

        @include md {
          grid-template-columns: 1fr;
        }
      }

      .kline-content-info {
        display: grid;
        grid-template-columns: 500px 1fr;
        grid-gap: 20px;
        // justify-items: center;
        background: #3e3e3e;
        padding: 0;
        margin-top: 24px;
        align-items: center;
        margin-left: -20px;
        margin-right: -20px;
        padding: 48px 0;

        // display: grid;
        // grid-template-columns: 500px 1fr;
        // background: #3e3e3e;
        // padding: 0 0 48px;
        // margin-top: 24px;
        // align-items: center;
        // margin-left: -20px;
        // margin-right: -20px;

        .our-coverage {
          .title-section {
            display: flex;
            align-items: center;
            justify-content: center;

            .kline-insigts-title {
              margin: 16px;
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 32px;
              letter-spacing: 0.09em;
              color: $white;
            }

            hr {
              width: 100%;
              border-color: $gray-light;
              display: none;
            }
          }

          .kline-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            min-height: 262px;
            grid-gap: 1px;
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: cover;
            background: #df7b2e;

            &-item {
              padding: 24px 16px;
              position: relative;
              overflow: hidden;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: flex-end;
              transition: all 0.4s ease-in-out;

              &-title {
                font-family: $overpass !important;
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 36px;
                // text-align: center;
                letter-spacing: 0.055em;
                color: $white;
                width: 100%;
                // min-height: 78px;
                padding: 8px;

                > span {
                  font-weight: 600;
                  font-size: 18px;
                  display: block;
                }

                @include lg {
                  font-size: 20px;
                }
              }

              &-list {
                font-family: $overpass !important;

                position: relative;
                width: 100%;
                padding: 0 30px;
                cursor: pointer;
                overflow: hidden;

                .desc-links {
                  animation: removeHeight 0.4s ease-in-out forwards;

                  .icon-section {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 24px;

                    .icon {
                      padding: 8px;
                      background: $orange;
                      border-radius: 24px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      overflow: hidden;

                      > img {
                        width: 32px;
                        height: 32px;
                        object-fit: contain;
                      }

                      .btn-text {
                        font-size: 0px;
                        font-family: $overpass !important;
                        color: white;

                        > a {
                          color: white;
                          text-decoration: none;
                        }
                      }

                      &:hover {
                        clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;

                        .btn-text {
                          animation: font-size-add 0.5s ease-in-out forwards;
                        }
                      }
                    }
                  }

                  .desc-link {
                    display: flex;
                    align-items: center;
                    padding: 4px 0;
                    cursor: pointer;

                    a,
                    p {
                      color: #ffffffa6;

                      &:hover {
                        color: #ffffff;
                      }
                    }

                    svg {
                      &.downloaded-icon {
                        width: 24px;
                        height: 24px;
                        margin-left: 20px;

                        path {
                          stroke: white;
                        }
                      }

                      &:not(.downloaded-icon) {
                        transform: rotate(-90deg);
                        margin-right: 20px;

                        path {
                          fill: white;
                        }
                      }
                    }
                  }
                }

                li {
                  margin-bottom: 8px;
                  color: $white;

                  a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 27px;
                    letter-spacing: 0.09em;
                    font-feature-settings: "liga" off, "kern" off;
                    color: $white;
                    text-decoration: none;
                  }
                }

                @include lg {
                  padding: 0px;
                }
              }

              &:not(:last-of-type) {
                border-right: 0.5px solid white;

                @include md {
                  border-right: unset;
                  border-bottom: 0.5px solid white;
                }
              }

              &:hover {
                background-color: #00000062;

                .kline-content-item-list {
                  .desc-links {
                    animation: addHeight 0.4s ease-in-out forwards;
                  }
                }
              }
            }

            @include md {
              grid-template-columns: 1fr;
            }
          }

          @include xl {
            grid-row: 1/2;
            padding: 0 20px;
          }
        }

        @include xl {
          grid-template-columns: 1fr;
        }

        @include md {
          justify-items: unset;
        }
      }
    }

    .kline-insigts {
      .title-section {
        display: flex;
        align-items: center;

        .kline-insigts-title {
          margin: 32px 20px;
          font-style: normal;
          font-weight: 700;
          font-size: 42px;
          line-height: 76px;
          letter-spacing: 0.09em;
          color: $orange;
        }

        hr {
          width: 100%;
          border-color: $gray-light;
        }
      }

      &-title {
        margin: 32px 0;
        text-align: center;
      }

      .insigts-items {
        .insigts-item {
          height: 250px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          background: #f7f7f7;
          margin-bottom: 32px;

          .insight-img {
            overflow: hidden;

            > img {
              clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
              width: 0px;
              height: 100%;
              object-fit: cover;
            }

            &.show {
              > img {
                animation: imgWidth 1.5s ease-in-out forwards;
              }
            }

            &.hide {
              > img {
                animation: imgWidthHide 1.5s ease-in forwards;
              }
            }
          }

          .insight-content {
            display: flex;
            justify-content: center;
            align-items: center;

            .visible-area {
              > div {
                position: relative;
                right: -200%;
                opacity: 0;

                .item-name {
                  text-align: center;
                  font-size: 24px;
                  font-weight: 600;
                  margin-bottom: 24px;
                }

                .item-desc {
                  text-align: center;
                  max-width: 458px;
                  font-size: 20px;
                  font-weight: 400;

                  .desc-links {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    p {
                      &:hover {
                        color: #8e6b57;
                      }
                    }

                    svg {
                      &.downloaded-icon {
                        width: 24px;
                        height: 24px;
                        margin-left: 20px;
                      }

                      &:not(.downloaded-icon) {
                        transform: rotate(-90deg);
                        margin-right: 20px;
                      }
                    }
                  }

                  &.grid {
                    display: grid;
                    grid-gap: 4px;
                  }
                }

                .icon-section {
                  display: flex;
                  justify-content: flex-end;
                  margin-top: 24px;

                  .icon {
                    padding: 8px;
                    background: #8e6b57;
                    border-radius: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    > img {
                      width: 32px;
                      height: 32px;
                      object-fit: contain;
                    }

                    .btn-text {
                      font-size: 0px;

                      > a {
                        color: $white;
                        text-decoration: none;
                      }
                    }

                    &:hover {
                      clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
                      border-top-right-radius: 0;
                      border-bottom-right-radius: 0;

                      .btn-text {
                        animation: font-size-add 0.5s ease-in-out forwards;
                      }
                    }
                  }
                }
              }

              &.show {
                > div {
                  animation: text-to-left 1.5s ease-in-out forwards;
                }
              }

              &.hide {
                > div {
                  animation: text-to-right 1.5s ease-in forwards;
                }
              }
            }
          }
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .bio-basestocks-body-tabs {
      position: relative;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      border: 4px solid $orange;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .grid-area {
        display: flex;
        justify-items: center;
        position: relative;
        width: 100%;
        height: 100%;

        > div {
          width: 200px;
          height: 200px;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;

          > div {
            width: 231px;
            height: 200px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            .shape-bg {
              position: absolute;
              bottom: -4px;
              width: 100%;
            }

            .text-svg {
              transform: rotate(180deg);
              position: unset;
              width: auto;
              margin-bottom: -40px;
            }

            > h4 {
              position: relative;
              z-index: 2;
              margin-top: 75px;
              max-width: 150px;
              text-align: center;
              font-size: 12px;
              pointer-events: none;
            }

            &:hover {
              .shape-bg {
                path {
                  fill: $orange;
                }
              }

              h4 {
                color: $white;
              }
            }
          }

          .active {
            .shape-bg {
              path {
                fill: $orange;
              }
            }

            h4 {
              color: $white;
            }
          }
        }

        .div_1 {
          transform: rotate(180deg);
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;

          h4 {
            transform: rotate(180deg) !important;
          }
        }

        .div_2 {
          transform: rotate(90deg);
          top: 0;
          left: 0;
          bottom: 0;
          margin: auto 0;

          h4 {
            transform: rotate(-90deg);
            max-width: 3px !important;
            word-break: break-all;
          }
        }

        .div_3 {
          transform: rotate(-90deg);
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto 0;

          h4 {
            transform: rotate(90deg);
            max-width: 3px !important;
            word-break: break-all;
          }
        }

        .div_4 {
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;

          h4 {
            transform: rotate(360deg);
          }
        }
      }

      .div_5 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        border: 15px solid white;
        pointer-events: none;
      }

      .div_6 {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: white;
        z-index: 1;
        position: absolute;
      }

      .div_7 {
        position: absolute;
        transition: all 0.3s ease;
        animation: example 4s infinite ease;
        transform: rotate(180deg);
        pointer-events: none;

        .div_1 {
          width: 225px;
          height: 212px;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          left: -112px;
          top: 24px;

          > div {
            width: 100%;
            height: 100%;

            > svg {
              width: 100%;
              height: 100%;

              path {
                fill: $orangeOp;
                transition: all 0.3s ease;
                animation: example2 4s infinite ease;
              }
            }
          }
        }
      }
    }
  }

  .modal-content {
    padding: 20px 0 0;

    > div {
      display: grid;
      justify-content: center;
      grid-gap: 32px;
      justify-items: center;

      .desc {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        color: $gray;
      }

      > input {
        padding: 8px;
        width: 100%;
        max-width: 300px;
        border: none;
        color: $gray;
        border-bottom: 1px solid $orange;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

@keyframes move-center {
  from {
    bottom: -100%;
    height: 0;
  }

  to {
    bottom: 0px;
    height: auto;
  }
}

@keyframes addHeight {
  0% {
    max-height: 0px;
  }

  50% {
    max-height: 400px;
  }
}

@keyframes removeHeight {
  0% {
    max-height: 400px;
  }

  100% {
    max-height: 0px;
  }
}

@keyframes lineWidth {
  0% {
    width: 90px;
  }

  100% {
    width: 100%;
  }
}

@keyframes imgWidth {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}

@keyframes imgWidthHide {
  0% {
    width: 100%;
  }

  100% {
    width: 0px;
  }
}

@keyframes text-to-left {
  0% {
    right: -100%;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes text-to-right {
  0% {
    right: 0;
    opacity: 1;
  }

  100% {
    right: -100%;
    opacity: 0;
  }
}

@keyframes font-size-add {
  0% {
    font-size: 0;
    margin-left: 0;
  }

  100% {
    font-size: 14px;
    padding: 0 24px 0 10px;
    font-weight: 600;
  }
}
