<div class="lending-page-content">
  <div class="lending-page">
    <div class="hero-section">
      <div class="hero-section-content">
        <h1>Basestock Intelligence Center</h1>
        <h3>
          Your single source for the latest data, insights, and news on the
          Global Basestocks Market
        </h3>
      </div>
      <div class="hero-section-background">

        <!-- <img src="../../assets/images/bg-image.png" alt="bg" /> -->
        <!-- <dx-gallery
          [dataSource]="slides"
          [slideshowDelay]="0"
          [loop]="true"
          [width]="600"
          [height]="500"
          [showNavButtons]="true"
          [showIndicator]="false"
        >
          <div class="slider" *dxTemplate="let item of 'item'">
            <img [src]="item.imageUrl" [alt]="item.caption" />
            <div class="slider-name">
              <h3>{{ item.caption }}</h3>
              <span class="asd">{{ item.desc }}</span>
            </div>
          </div>
        </dx-gallery> -->
        <!-- <div class="line-up">
          <img src="../../assets/images/hero-line-up.svg" alt="bg" />
        </div>
        <div class="line-down">
          <img src="../../assets/images/hero-line-down.svg" alt="bg" />
        </div> -->
      <app-wall-tabs></app-wall-tabs>
      </div>
    </div>
    <div class="info-section">
      <app-info-tab [title]="'Browse Our Data Visualization'" [type]="'primary'" [infoData]="infoTabData"  ></app-info-tab>
      <app-info-tab [title]="'See Also Our Insights'" [type]="'secondary'" [infoData]="infoSecondaryTabData" ></app-info-tab>
    </div>
    <!-- <div class="our-coverage">
      <div class="title-section">
        <hr />
        <h3 class="kline-insigts-title">Our Coverage</h3>
        <hr />
      </div>
      <div class="coverages">
        <div class="coverages-item" *ngFor="let item of coveragesList">
          <h3 class="coverages-item-title">
            {{ item.title }} <span>{{ item.subtitle }}</span>
          </h3>
          <div class="coverages-item-list">
            <ul>
              <li *ngFor="let listItem of item.list">
                <a [routerLink]="listItem.path">{{ listItem.name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="kline-insigts">
      <div class="title-section">
        <hr />
        <h3 class="kline-insigts-title">Insights</h3>
        <hr />
      </div>
      <div class="insigts-items">
        <div
          class="insigts-item"
          [ngClass]="{
            'show':scrollPosition >= 500,
            'hide':scrollPosition < 500,
          }"
        >
          <div
            class="insight-img"
            [ngClass]="{
              'show':scrollPosition >= 500,
              'hide':scrollPosition < 500,
            }"
          >
            <img src="../../assets/images/gold-oil.jpg" alt="insights-img" />
          </div>
          <div class="insight-content">
            <div
              class="visible-area"
              [ngClass]="{
                'show':scrollPosition >= 500,
                'hide':scrollPosition < 500,
              }"
            >
              <div>
                <h3 class="item-name">Download Our Quarterly Newsletters</h3>
                <div class="item-desc grid">
                  <div
                    class="desc-links"
                    *ngFor="let item of downladsList"
                    (click)="downloadNewsletter(item.id)"
                  >
                    <svg
                      width="16"
                      height="9"
                      viewBox="0 0 16 9"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.99974 8.96661C7.82196 8.96661 7.64952 8.93328 7.48241 8.86661C7.3153 8.79994 7.17663 8.71105 7.06641 8.59994L0.933072 2.46661C0.688628 2.22217 0.566406 1.91105 0.566406 1.53328C0.566406 1.1555 0.688628 0.844387 0.933072 0.599943C1.17752 0.355498 1.48863 0.233276 1.86641 0.233276C2.24418 0.233276 2.5553 0.355498 2.79974 0.599943L7.99974 5.79994L13.1997 0.599943C13.4442 0.355498 13.7553 0.233276 14.1331 0.233276C14.5109 0.233276 14.822 0.355498 15.0664 0.599943C15.3108 0.844387 15.4331 1.1555 15.4331 1.53328C15.4331 1.91105 15.3108 2.22217 15.0664 2.46661L8.93307 8.59994C8.79974 8.73328 8.6553 8.82794 8.49974 8.88394C8.34418 8.93994 8.17752 8.9675 7.99974 8.96661Z"
                        fill="#8e6b57"
                      />
                    </svg>
                    <p>{{ item.text }}</p>
                    <svg
                      *ngIf="item.downladed"
                      class="downloaded-icon"
                      width="36"
                      height="36"
                      viewBox="0 0 36 36"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M27 30.7391V3.875C26.9986 3.37816 26.8006 2.90209 26.4492 2.55077C26.0979 2.19945 25.6218 2.00144 25.125 2H3.875C3.37816 2.00144 2.90209 2.19945 2.55077 2.55077C2.19945 2.90209 2.00144 3.37816 2 3.875V31.375C2.00247 32.203 2.33251 32.9965 2.91802 33.582C3.50354 34.1675 4.29696 34.4975 5.125 34.5H30.75"
                        stroke="#8e6b57"
                        stroke-width="2.5"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M30.75 34.5C29.7554 34.5 28.8016 34.1049 28.0983 33.4017C27.3951 32.6984 27 31.7446 27 30.75V8.25H32.625C33.1223 8.25 33.5992 8.44754 33.9508 8.79917C34.3025 9.15081 34.5 9.62772 34.5 10.125V30.75C34.5 31.7446 34.1049 32.6984 33.4017 33.4017C32.6984 34.1049 31.7446 34.5 30.75 34.5Z"
                        stroke="#8e6b57"
                        stroke-width="2.5"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M17 8.25H22M17 13.25H22M7 18.25H22M7 23.25H22M7 28.25H22"
                        stroke="#8e6b57"
                        stroke-width="2.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M12 14.5H7C6.66848 14.5 6.35054 14.3683 6.11612 14.1339C5.8817 13.8995 5.75 13.5815 5.75 13.25V8.25C5.75 7.91848 5.8817 7.60054 6.11612 7.36612C6.35054 7.1317 6.66848 7 7 7H12C12.3315 7 12.6495 7.1317 12.8839 7.36612C13.1183 7.60054 13.25 7.91848 13.25 8.25V13.25C13.25 13.5815 13.1183 13.8995 12.8839 14.1339C12.6495 14.3683 12.3315 14.5 12 14.5Z"
                        fill="#8e6b57"
                      />
                    </svg>
                  </div>
                  <div class="icon-section">
                    <div class="icon" (click)="openModal()">
                      <img src="../../assets/images/speaker.svg" alt="icon" />
                      <div class="btn-text">
                        <div>Subscribe</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="insigts-item"
          [ngClass]="{
          'show':scrollPosition >= 712,
          'hide':scrollPosition < 712,
        }"
        >
          <div
            class="insight-img"
            [ngClass]="{
            'show':scrollPosition >= 712,
            'hide':scrollPosition < 712,
          }"
          >
            <img src="../../assets/images/gold-oil.jpg" alt="insights-img" />
          </div>
          <div class="insight-content">
            <div
              class="visible-area"
              [ngClass]="{
              'show':scrollPosition >= 712,
              'hide':scrollPosition < 712,
            }"
            >
              <div>
                <h3 class="item-name">Reports & Presentations</h3>
                <p class="item-desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore
                </p>
                <div class="icon-section">
                  <div class="icon">
                    <img src="../../assets/images/paper.svg" alt="icon" />
                    <div class="btn-text">
                      <a routerLink="/insights">Published Articles</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="insigts-item"
          [ngClass]="{
          'show':scrollPosition >= 1039,
          'hide':scrollPosition < 1039,
        }"
        >
          <div
            class="insight-img"
            [ngClass]="{
            'show':scrollPosition >= 1039,
            'hide':scrollPosition < 1039,
          }"
          >
            <img src="../../assets/images/gold-oil.jpg" alt="insights-img" />
          </div>
          <div class="insight-content">
            <div
              class="visible-area"
              [ngClass]="{
              'show':scrollPosition >= 1039,
              'hide':scrollPosition < 1039,
            }"
            >
              <div>
                <h3 class="item-name">Webinars</h3>
                <p class="item-desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore
                </p>
                <div class="icon-section">
                  <div class="icon">
                    <img src="../../assets/images/blackboard.svg" alt="icon" />
                    <div class="btn-text">
                      <a routerLink="/insights">View All</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="webinars-subscribe">
      <app-modal
        [title]="'Subscribe'"
        *ngIf="isModalVisible"
        (onClose)="onCloseModal()"
      >
        <div class="modal-content">
          <div *ngIf="subscribeModalStep === 1" class="email-subscribe">
            <p class="desc">Quarterly newsletter subscribtion</p>
            <input
              type="email"
              [(ngModel)]="emailVal"
              placeholder="Enter your Email*"
            />
            <app-button
              [btnText]="'Get Code'"
              [type]="'secondary'"
              [icon]="false"
              [iconName]="''"
              (click)="goToSecondStep()"
            ></app-button>
          </div>
          <div *ngIf="subscribeModalStep === 2">
            <p class="desc">We have sent a verification code to you email.</p>
            <input type="text" placeholder="Enter Code*" />
            <app-button
              [btnText]="'Subscribe'"
              [type]="'secondary'"
              [icon]="false"
              [iconName]="''"
            ></app-button>
          </div>
        </div>
      </app-modal>
    </div>
  </div>
</div>
