@import "../../assets/scss/fonts.scss";
@import "../../assets/scss/variables.scss";
@import "../../assets/scss/_mixins.scss";

.lending-page-content {
  .lending-page {
    margin-bottom: 200px;
    overflow-x: hidden;
    margin-top: 70px;
    .hero-section {
      width: 100%;
      position: relative;
      display: grid;
      grid-template-columns: 50% 50%;
      height: 500px;
      margin-top: 20px;
      &-content {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-self: center;
        grid-gap: 24px;
        max-width: 1190px;

        h1 {
          padding: 0 80px;
          color: #3f3f3f;
          font-style: normal;
          font-weight: 700;
          font-size: 68px;
          line-height: 76px;
          letter-spacing: 0.05em;
        }
        > h3 {
          padding: 0 80px;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: 0.05em;
          color: #3f3f3f;
        }
      }
      &-background {
        position: relative;
        ::ng-deep {
          .dx-gallery-nav-button-prev {
            &::before {
              left: 72px;
              top: 67px;
            }
            &::after {
              left: 73px;
              top: 67px;
            }
          }
          .dx-gallery-nav-button-next {
            &::before {
              top: 67px;
            }
            &::after {
              top: 67px;
            }
          }
        }
        ::ng-deep {
          .dx-gallery {
            width: 100% !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 105%);
            .slider {
              position: relative;
              > img {
                height: 100%;
                object-fit: cover;
              }

              .slider-name {
                position: absolute;
                top: 20px;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                color: $white;
                font-size: 32px;
                .asd {
                  max-width: 420px;
                  margin: 0 auto;
                  display: inline-block;
                  font-size: 16px;
                  height: auto;
                  white-space: normal !important;
                }
              }
            }
          }
        }
        > img {
          height: 100%;
        }
        > div {
          position: absolute;
          z-index: 2;
          pointer-events: none;
          &.line-up {
            top: -10px;
            left: 0;
            width: 100%;
            height: 203px;
            > img {
              object-fit: cover;
              width: 100px;
              height: 100%;
              object-position: left;
              animation: lineWidth 5s ease-in-out forwards;
            }
          }
          &.line-down {
            bottom: -14px;
            left: 0;
            right: 0;
            height: 155px;
            > img {
              object-fit: cover;
              width: 100px;
              height: 100%;
              object-position: left;
              animation: lineWidth 5s ease-in-out forwards;
            }
          }
        }
      }
    }
    .our-coverage {
      .title-section {
        display: flex;
        align-items: center;
        .kline-insigts-title {
          margin: 32px 20px;
          font-style: normal;
          font-weight: 700;
          font-size: 42px;
          line-height: 76px;
          letter-spacing: 0.09em;
          color: $orange;
          min-width: 354px;
        }
        hr {
          width: 100%;
          border-color: $gray-light;
        }
      }
      .coverages {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        min-height: 333px;
        grid-gap: 1px;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/images/coverage-img-bg.png");
        &-item {
          padding: 24px 16px;
          position: relative;
          overflow: hidden;
          display: flex;
          align-items: center;
          flex-direction: column-reverse;
          background-color: #00000062;
          &-title {
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 39px;
            text-align: center;
            letter-spacing: 0.055em;
            color: $white;
            width: 100%;
            min-height: 78px;
            padding: 0 20px;
            > span {
              font-weight: 600;
              font-size: 18px;
              display: block;
            }
          }
          &-list {
            position: relative;
            width: 100%;
            padding: 0 30px;
            cursor: pointer;
            overflow: hidden;
            height: 70%;
            ul {
              position: absolute;
              bottom: -500px;
            }
            li {
              margin-bottom: 8px;
              color: $white;

              a {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 27px;
                letter-spacing: 0.09em;
                font-feature-settings: "liga" off, "kern" off;
                color: $white;
                text-decoration: none;
              }
            }
          }
          &:not(:last-of-type) {
            border-right: 0.5px solid white;
          }
          &:hover {
            .coverages-item-list {
              ul {
                animation: addHeight 0.4s ease-in-out forwards;
              }
            }
          }
        }
      }
    }
    .kline-insigts {
      .title-section {
        display: flex;
        align-items: center;
        .kline-insigts-title {
          margin: 32px 20px;
          font-style: normal;
          font-weight: 700;
          font-size: 42px;
          line-height: 76px;
          letter-spacing: 0.09em;
          color: $orange;
          min-width: 354px;
        }
        hr {
          width: 100%;
          border-color: $gray-light;
        }
      }
      &-title {
        margin: 32px 0;
        text-align: center;
      }
      .insigts-items {
        .insigts-item {
          height: 250px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          background: #f7f7f7;
          margin-bottom: 32px;
          .insight-img {
            overflow: hidden;
            > img {
              clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
              width: 0px;
              height: 100%;
              object-fit: cover;
            }
            &.show {
              > img {
                animation: imgWidth 1.5s ease-in-out forwards;
              }
            }
            &.hide {
              > img {
                animation: imgWidthHide 1.5s ease-in forwards;
              }
            }
          }
          .insight-content {
            display: flex;
            justify-content: center;
            align-items: center;
            .visible-area {
              > div {
                position: relative;
                right: -200%;
                opacity: 0;
                .item-name {
                  text-align: center;
                  font-size: 24px;
                  font-weight: 600;
                  margin-bottom: 24px;
                }
                .item-desc {
                  text-align: center;
                  max-width: 458px;
                  font-size: 20px;
                  font-weight: 400;
                  .desc-links {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    p {
                      &:hover {
                        color: #8e6b57;
                      }
                    }
                    svg {
                      &.downloaded-icon {
                        width: 24px;
                        height: 24px;
                        margin-left: 20px;
                      }
                      &:not(.downloaded-icon) {
                        transform: rotate(-90deg);
                        margin-right: 20px;
                      }
                    }
                  }
                  &.grid {
                    display: grid;
                    grid-gap: 4px;
                  }
                }
                .icon-section {
                  display: flex;
                  justify-content: flex-end;
                  margin-top: 24px;
                  .icon {
                    padding: 8px;
                    background: #8e6b57;
                    border-radius: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    > img {
                      width: 32px;
                      height: 32px;
                      object-fit: contain;
                    }
                    .btn-text {
                      font-size: 0px;
                      > a {
                        color: $white;
                        text-decoration: none;
                      }
                    }
                    &:hover {
                      clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
                      border-top-right-radius: 0;
                      border-bottom-right-radius: 0;
                      .btn-text {
                        animation: font-size-add 0.5s ease-in-out forwards;
                      }
                    }
                  }
                }
              }
              &.show {
                > div {
                  animation: text-to-left 1.5s ease-in-out forwards;
                }
              }
              &.hide {
                > div {
                  animation: text-to-right 1.5s ease-in forwards;
                }
              }
            }
          }
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .modal-content {
    padding: 20px 0 0;
    > div {
      display: grid;
      justify-content: center;
      grid-gap: 32px;
      justify-items: center;
      .desc {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        color: $gray;
      }
      > input {
        padding: 8px;
        width: 100%;
        max-width: 300px;
        border: none;
        color: $gray;
        border-bottom: 1px solid $orange;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

@keyframes move-center {
  from {
    bottom: -100%;
    height: 0;
  }
  to {
    bottom: 0px;
    height: auto;
  }
}
@keyframes addHeight {
  0% {
    bottom: -500px;
  }

  100% {
    bottom: 0px;
  }
}
@keyframes lineWidth {
  0% {
    width: 90px;
  }

  100% {
    width: 100%;
  }
}

@keyframes imgWidth {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}
@keyframes imgWidthHide {
  0% {
    width: 100%;
  }

  100% {
    width: 0px;
  }
}

@keyframes text-to-left {
  0% {
    right: -100%;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes text-to-right {
  0% {
    right: 0;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}
@keyframes font-size-add {
  0% {
    font-size: 0;
    margin-left: 0;
  }
  100% {
    font-size: 14px;
    padding: 0 24px 0 10px;
    font-weight: 600;
  }
}
