<div class="synthetic-basestocks">
  <app-hero-section
    title="Synthetic Basestocks Deblend Model"
    desc="
      An interactive model to analyse lubricant basestock demand and supply
  trends based on demand growth, quality shifts, changes in blending
  approaches and changes to basestock supply including new capacity
  addition and anticipated closures. Provides a view of historical demand,
  supply and growth as well.
    "
  ></app-hero-section>
  <div></div>
  <div class="synthetic-basestocks-tabs">
    <div class="filters">
      <app-button
        *ngIf="getSelectedMainTab() === 1"
        [btnText]="'Build Your Own Recipe'"
        [type]="'secondary right'"
        [icon]="false"
        [iconName]="''"
        (click)="openRecipeModal()"
      ></app-button>
      <app-button
        *ngIf="getSelectedMainTab() === 1"
        [btnText]="'Download Model'"
        [type]="'secondary right'"
        [icon]="false"
        [iconName]="''"
      ></app-button>
    </div>
    <div class="tabs">
      <app-button
        [btnText]="'Tabular View'"
        [type]="'secondary'"
        [icon]="false"
        [iconName]="''"
        [isActive]="getSelectedMainTab() === 1 ? true : false"
        (click)="setSelectedMainTab(1)"
      ></app-button>
      <app-button
        [btnText]="'Chart View'"
        [type]="'secondary'"
        [icon]="false"
        [iconName]="''"
        [isActive]="getSelectedMainTab() === 2 ? true : false"
        (click)="setSelectedMainTab(2)"
      ></app-button>
    </div>
  </div>
  <div *ngIf="getSelectedMainTab() === 1" class="synthetic-basestocks-body">
    <div class="synthetic-basestocks-body-filters">
      <app-button
        [btnText]="'Demand'"
        [type]="'secondary small'"
        [icon]="false"
        [iconName]="'../../../assets/images/demand.png'"
        [isActive]="selectedTab === 1  ? true : false"
        (click)="selectedTab = 1"
      ></app-button>
      <app-button
        [btnText]="'Consumption by Synthetic Ester Type'"
        [type]="'secondary small'"
        [icon]="false"
        [iconName]="''"
        [isActive]="selectedTab === 2  ? true : false"
        (click)="selectedTab = 2"
      ></app-button>
      <app-button
        [btnText]="'Consumption by PAG Type'"
        [type]="'secondary small'"
        [icon]="false"
        [iconName]="''"
        [isActive]="selectedTab === 3 ? true : false"
        (click)="selectedTab = 3"
      ></app-button>
      <app-button
        [btnText]="'Synthetic Basestock Demand Split by Application'"
        [type]="'secondary small'"
        [icon]="false"
        [iconName]="''"
        [isActive]="selectedTab === 4 ? true : false"
        (click)="selectedTab = 4"
      ></app-button>
      <app-button
        [btnText]="'Growth Rates for Synthetic Basestocks'"
        [type]="'secondary small'"
        [icon]="false"
        [iconName]="''"
        [isActive]="selectedTab === 5 ? true : false"
        (click)="selectedTab = 5"
      ></app-button>
    </div>
    <div *ngIf="selectedTab === 1" class="synthetic-basestocks-body-pivot">
      <dx-pivot-grid
        (onCellClick)="onCellClick($event)"
        [allowSortingBySummary]="true"
        [allowSorting]="true"
        [allowFiltering]="true"
        [allowExpandAll]="true"
        [showColumnGrandTotals]="true"
        [showBorders]="true"
        [dataSource]="dataSource"
        [height]="500"
      >
        <dxo-field-panel
          [showDataFields]="false"
          [showRowFields]="showRowFields"
          [showColumnFields]="false"
          [showFilterFields]="true"
          [allowFieldDragging]="false"
          [visible]="true"
        >
        </dxo-field-panel>
      </dx-pivot-grid>
    </div>
    <div *ngIf="selectedTab === 2" class="synthetic-basestocks-body-pivot">
      <dx-pivot-grid
        (onCellClick)="onCellClick($event)"
        [allowSortingBySummary]="true"
        [allowSorting]="true"
        [allowFiltering]="true"
        [allowExpandAll]="true"
        [showBorders]="true"
        [dataSource]="dataSource"
        [height]="500"
      >
        <dxo-field-panel
          [showDataFields]="false"
          [showRowFields]="showRowFields"
          [showColumnFields]="false"
          [showFilterFields]="true"
          [allowFieldDragging]="false"
          [visible]="true"
        >
        </dxo-field-panel>
      </dx-pivot-grid>
    </div>
    <div *ngIf="selectedTab === 3" class="synthetic-basestocks-body-pivot">
      <dx-pivot-grid
        (onCellClick)="onCellClick($event)"
        [allowSortingBySummary]="true"
        [allowSorting]="true"
        [allowFiltering]="true"
        [allowExpandAll]="true"
        [showBorders]="true"
        [dataSource]="dataSource"
        [height]="500"
      >
        <dxo-field-panel
          [showDataFields]="false"
          [showRowFields]="showRowFields"
          [showColumnFields]="false"
          [showFilterFields]="true"
          [allowFieldDragging]="false"
          [visible]="true"
        >
        </dxo-field-panel>
      </dx-pivot-grid>
    </div>
    <div *ngIf="selectedTab === 4" class="synthetic-basestocks-body-pivot">
      <dx-pivot-grid
        (onCellClick)="onCellClick($event)"
        [allowSortingBySummary]="true"
        [allowSorting]="true"
        [allowFiltering]="true"
        [allowExpandAll]="true"
        [showBorders]="true"
        [dataSource]="dataSource"
        [height]="500"
      >
        <dxo-field-panel
          [showDataFields]="false"
          [showRowFields]="showRowFields"
          [showColumnFields]="false"
          [showFilterFields]="true"
          [allowFieldDragging]="false"
          [visible]="true"
        >
        </dxo-field-panel>
      </dx-pivot-grid>
    </div>
    <div *ngIf="selectedTab === 5" class="synthetic-basestocks-body-pivot">
      <dx-pivot-grid
        (onCellClick)="onCellClick($event)"
        [allowSortingBySummary]="true"
        [allowSorting]="true"
        [allowFiltering]="true"
        [allowExpandAll]="true"
        [showBorders]="true"
        [dataSource]="dataSource"
        [height]="500"
      >
        <dxo-field-panel
          [showDataFields]="false"
          [showRowFields]="showRowFields"
          [showColumnFields]="false"
          [showFilterFields]="true"
          [allowFieldDragging]="false"
          [visible]="true"
        >
        </dxo-field-panel>
      </dx-pivot-grid>
    </div>
  </div>
  <div *ngIf="getSelectedMainTab() === 2 && dataSource.store.length" class="synthetic-basestocks-body">
    <app-synthetic-chart-view
      [chartData]="dataSource.store"
    ></app-synthetic-chart-view>
  </div>
  <div class="modal-area">
    <app-modal
      [title]="'Build Your Own Recipe'"
      *ngIf="openModal"
      (onClose)="onCloseModal()"
    >
      <div class="modal-content">
        <div class="action">
          <app-button
            [btnText]="'Save'"
            [type]="'secondary'"
            [icon]="false"
            [iconName]="''"
          ></app-button>
        </div>
        <div>
          <dx-data-grid
            id="gridContainer"
            [dataSource]="modalDummyData"
            keyExpr="id"
            (onFocusedCellChanging)="onFocusedCellChanging($event)"
            [showBorders]="true"
            [columnAutoWidth]="true"
          >
            <dxo-paging [enabled]="true"> </dxo-paging>
            <dxo-editing
              mode="batch"
              [allowUpdating]="true"
              startEditAction="dblClick"
            >
            </dxo-editing>
            <dxi-column dataField="Basestock Group"> </dxi-column>
            <dxi-column dataField="Basestock"> </dxi-column>
            <dxi-column dataField="Composition" [width]="170"> </dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </app-modal>
  </div>
</div>
