<div class="synthetic-basestocks">
  <div class="synthetic-basestocks-header">
    <div class="synthetic-basestocks-header-desc">
      <p>
        An interactive model to analyse lubricant basestock demand and supply trends based on demand growth, quality shifts, changes in blending approaches and changes to basestock supply including new capacity addition and anticipated closures.
Provides a view of historical demand, supply and growth as well.
      </p>
    </div>
    <h1 class="synthetic-basestocks-header-title">Synthetic Basestocks Deblend Model</h1>
  </div>
  <dx-pivot-grid
  [allowSortingBySummary]="true"
  [allowSorting]="true"
  [allowFiltering]="true"
  [allowExpandAll]="true"
  [height]="570"
  [showBorders]="true"
  [dataSource]="dataSource"
>
  <dxo-field-chooser [allowSearch]="true"></dxo-field-chooser>
</dx-pivot-grid>
  <div>
    <iframe title="Deblen Dashboard v1.2" width="1200" height="690" src="https://app.powerbi.com/reportEmbed?reportId=6338e043-7ec2-49b7-810f-cc9332d1ba92&amp;autoAuth=true&amp;ctid=6614e0da-1c72-4a24-a4e9-96c46265649a" frameborder="0" allowfullscreen="true"></iframe>
  </div>
</div>
